[2020-07-16 10:14] Livelypower commented on #225
Hi @rmpestano

I was able to use the snapshot version to try out `raiseExceptionOnCleanUp` to find tests that did not perform their cleanup correctly. Thanks a ton for your quick response!

We did notice however that once a test fails when the exception is thrown, there seems to be an issue with the connection to the db. We received timeouts from out connection pool. It wasn't an issue per se beca

[2020-07-16 10:14] #225 closed

[2020-07-20 08:18] kayman-mk commented on #218
Indeed this is a good point everybody should consider in a project. Plaintext passwords are bad. But I think this issue is not 100% relevant here as the Quarkus app is just a showcase for Database Rider. Thus it is fine to have plaintext passwords in the configuration to make things easy.

From my point of view it is worth the time to add a note for the inexperienced users, so they are aware of th

[2020-07-21 06:58] rmpestano commented on #218
Thank you guys for looking into it, yes I think adding a remark is enough

[2020-07-21 06:58] #218 closed

[2020-07-21 16:33] kerraway opened #227 "Limit the database type."
We use MySQL in our dev/test/production environment, and use H2 in unit test environment.

Configuration is in src/main/resources/datasource.xml and src/test/resources/datasource.xml.

If the developer rename the src/test/resources/datasource.xml config file, the MySQL datasource will be used in unit test environment. And if the developer run unit tests, the @DataSet will clear the data in MySQL d

[2020-07-22 05:38] rmpestano commented on #227
Hi, I don't think there is a solution for the this, the same can happen with other tools like Flyway, Liquibase or Hibernate where a misconfiguration can harm your db.

Now the question is, why a dev would hardcode production db connection in the application? This information should be outside the application

[2020-07-22 06:56] kerraway commented on #227
We use `src/main/resources/datasource.xml` to configure MySQL datasource, and use separate configuration files to provide dev/test/production jdbc url/username/password/etc. And we use `src/test/resources/datasource.xml` to configure H2 datasource in unit test environment.

When developer removes or renames the `src/test/resources/datasource.xml`, Spring will load `src/main/resources/datasource.xm

[2020-07-22 07:05] rmpestano commented on #227
If you're using Spring then I suggest using it to configure your datasource and not rely on `dbunit.yml`. Have you tried using `@ActiveProfiles` to specify the test configuration? See an [example here](https://github.com/rmpestano/springboot-dbunit-testcontainers/blob/0f6a0f6114744a8012c364a13cf57ba3852fc377/src/test/java/com/github/database/rider/springboot/SpringBootDBUnitIt.java#L32).

[2020-07-22 07:19] kerraway commented on #227
We aren't using SpringBoot, just Spring Framework. And we use `src/test/resources/datasource.xml` and  `src/main/resources/datasource.xml` to divisive official and unit-test environment.

I think using `@ActiveProfiles`, also have the possibility to harm the mysql db due to misconfiguration.

If I configure the database type that database-rider or dbunit can operate, misconfiguration wouldn't harm

[2020-07-22 07:27] rmpestano commented on #227
I don't understand how we can solve that on dbrider level. Do you have an example of how that would work?

[2020-07-22 07:47] kerraway commented on #227
Thx for your help, I don't have any solution yet. I will do some research.

[2020-07-24 09:51] #227 closed

[2020-08-05 10:48] kingGarfield opened #231 "How to create a dataset before all tests"
when i put @DataSet near @BeforeAll annotation my test fails.

[code]
the above code doesn't pass the test ,but when i move @DataSet annotation to the report test method it passes the test.how can i create a data set once for all my test?

[2020-08-05 11:53] rmpestano commented on #231
Hi, you need to use `@DBRider` from junit5 module: `import com.github.database.rider.junit5.api.DBRider;` so you can have Junit5 lifecycle hooks
.

[2020-08-06 16:11] manoswerts opened #232 "Columns are ignored if they are not supplied in the first row for that table in the dataset"
This issue occurs again: https://github.com/database-rider/database-rider/issues/34

In this case, column 3 of row 2 isn't persisted:
[code]

It is when I just change the order:
[code]

The order shouldn't matter.

[2020-08-07 09:16] rmpestano commented on #232
Hi, please provide more input so anyone can try to help. Not everyone has the context for what is the issue.

Can you provide sample code or even better, a PR with a failing test on our test suite?

Thank you for the feedback!

[2020-08-09 12:32] kingGarfield commented on #231
thank you.

[2020-08-09 12:32] #231 closed

[2020-08-16 22:37] jsendlewski opened #233 "Quarkus >=1.3.0.Final Not Supported"
Hi!

It seems that Quarkus starting from version 1.3.0.Final is not supported. There seems to be a missing dependency on `com.bea.xml.stream.MXParserFactory`.
Quarkus versions < 1.3.0.Final are working fine.

Please see the following:

[code]

Cheers!

[2020-08-17 08:23] rmpestano commented on #233
Hi @jsendlewski, you need to exclude `stax-api` from[ rider-cdi dependency](https://github.com/database-rider/database-rider/commit/fe89346f6e2682f9dd5338525e313fdacef6dd6e):

[code]

This dependency is brought by dbunit so I don't think we can do anything from dbrider side.

Can you try that?

[2020-08-20 22:20] jsendlewski commented on #233
Hi @rmpestano,

Apologies for a late reply. I've managed to test the exclusion and it works like magic.

Thank you for your support!

[2020-08-20 22:20] #233 closed

[2020-08-21 05:26] rmpestano commented on #233
That's great, thank you for the feedback!

[2020-08-27 17:52] Raawaan opened #234 "Cucumber | Inject Data To Custom Replacer"
Hello,

i'd like to replace ticketId to the test seed data
i've tried to implement Replacer interface but there is no way to inject data dynamically (we are not able to use spring beans)
[code]
note: implementing beanFactoryAware interface didn't fix the issue.

[2020-08-28 07:11] rmpestano commented on #234
Hi, can you share your test class and the dataset?

[2020-08-28 07:28] Raawaan commented on #234
Hello,

Seed File
[code]

adding replacer to dataSet config

[code]

[2020-08-28 09:32] rmpestano commented on #234
Your code looks ok, I need to have a further look

[2020-08-28 09:46] Raawaan commented on #234
the issue is in my TicketIdReplacer class
[code]
i want to pass variable to TicketIdReplacer instead of "HERE" above, so the ticketId value added to every test case is different.
note: the TicketIdReplacer is instantiated by database rider

[2020-08-28 10:40] rmpestano commented on #234
I see, replacers cannot do that for you.

Maybe you can explain the whole use case, why do you need to have a dynamic ticketId in dataset?

If you share a complete test case with you test, dataset and what you're trying to do, maybe I can help

[2020-09-08 08:04] mats24 opened #235 "The DBUnit "Table Type" property is not supported"
I need to change the DBUnit table type from the default {"TABLE"} to {"TABLE", "VIEW"}, as the database "table" I'm manipulating is actually an Oracle view: http://dbunit.sourceforge.net/properties.html#tabletype

However, the database-rider DBUnit annotation does not include a "tableType" attribute.
Is this going to be added in a future release? Or is there some other way of configuring the missi

[2020-09-08 08:19] rmpestano commented on #235
Hi @mats24, you can add dbunit properties in [global config file](https://github.com/database-rider/database-rider#332-dbunit-configuration) (`src/test/resources/dbunit.yml`), for example:

[code]

[2020-09-08 09:25] mats24 commented on #235
Thanks - that link doesn't explicitly mention the tableType property so I assumed it wasn't supported in the yml, either.

I've been trying what you suggested; however, I can't get `tableType `to be read as a String array, which is what's expected.

When I specify as:
[code]
I get:
[code]
etc.

If I try:
[code]
I get:
`java.lang.IllegalArgumentException: Cannot cast object of type 'class java.util

[2020-09-09 08:32] rmpestano commented on #235
Hi @mats24, can you try with `1.16.1-SNAPSHOT`? You'll need to enable snapshots repository on your build:

[code]

Now the following should work:

[code]

Also it's now possible to configure tableType via `@DBUnit` annotation as well.

[2020-09-09 10:58] mats24 commented on #235
Thanks for the update - that sounds encouraging.
Unfortunately I can't access the [https://oss.sonatype.org/content/repositories/snapshots] repository, so my project cannot resolve the rider-core 1.16.1-SNAPSHOT dependency.
Could you please help me with how I can access that?
Thanks

[2020-09-09 11:32] rmpestano commented on #235
Did you added snapshots repository on your pom.xml?

[code]

[2020-09-10 08:52] mats24 commented on #235
It turns out my Maven mirror was causing the issue; I've now configured it to exclude the above `snapshots` repository and it now resolves the new rider-core snapshot successfully.
I've retested `tableType` with both dbunit.yml and the `@DBUnit` annotation, and can confirm that both now work successfully.
Thanks for your help.

[2020-09-10 09:03] rmpestano commented on #235
Nice! There will be a new release with this feature soon. Thank you for the feedback!

[2020-09-15 20:24] rmpestano commented on #235
This issue is fixed in `v1.16.1` which was just released, thank you @mats24!

[2020-09-15 20:24] #235 closed

[2020-09-21 11:13] duschata opened #236 "Question: How to get the right sequences after inserting datasets"

[2020-09-21 11:26] duschata commented on #236
Hello All,

I would like to replace tests which uses the arquillian-persistence-extension with RiderDSL-tests to create my tables and fill them with initial values.
After filling the database, no data can be inserted via JPA into the (H2) database. I get following exceptions:

SQL Error: 23502, SQLState: 23502, NULL not allowed for column "ID"; SQL statement:

I think that this behavior is because

[2020-09-21 14:40] rmpestano commented on #236
Hello,

All Rider tests are using JPA ;)

I think your issue is how to create the tables because that will not be done by DBRider. In RiderTests we use an utility called EntityManagerProvider, see here in [RiderDSL tests](https://github.com/database-rider/database-rider/blob/29c38f29655a31a6b09d7305aec6a6237d87be73/rider-core/src/test/java/com/github/database/rider/core/dsl/RiderDSLIt.java#L34), i

[2020-09-24 08:02] duschata commented on #236
Hello All, hello Rafael,

Ok, the question may have been a little bit unclear.
I'll try again, Have a look to my dummy-project: [here](https://github.com/duschata/riderDSLSequences)

After the database tables have been created (via jpa), I add initial data records.

https://github.com/duschata/riderDSLSequences/blob/master/src/test/java/RiderTest.java#L29-L44

A new entity is  created and the pers

[2020-09-25 10:01] brunneng opened #237 "Is there any way in Database Rider to reduce duplication of @DataSet configuration properties?"
Hi, is there any way in Database Rider to reduce duplication of **DataSet** configuration properties?

For example, suppose we have:

[code]
Here as you can see **cleanAfter** and **skipCleaningFor** are duplicated. And this is just an example. The list of skipCleaningFor can be even longer. Having hundreds of tests with the same list of skipped tables is a nightmare. Imagine we need to change thi

[2020-09-25 13:05] rmpestano commented on #237
Hi @brunneng, yea that's not so simple problem to solve, mainly because with primitive values in `@DataSet` like `cleanAfter` there's no way to distinguish if the value was provided by the user or it's the default value in the annotation that's being used.

I think merge datasets can help but another alternative can be [DataSet providers](https://github.com/database-rider/database-rider#311-datase

[2020-09-25 14:30] brunneng commented on #237
@rmpestano Thanks, it's interesting, but I can't find the ability to configure clearing of db tables from DataSetBuilder / IDataSet.

[2020-09-25 20:12] rmpestano commented on #237
"but I can't find the ability to configure clearing of db tables from DataSetBuilder / IDataSet." All tables declared in dataset will be cleared before the dataset data is inserted, so you just have to declare `zone_code`,  `product_code` etc... in dataset provider like `DefaultTablesForCleaningProvider`:

[code]

[2020-09-26 10:26] rmpestano commented on #236
Hi @duschata,

Just use negative ids so they will not conflict with sequence table (for example negative IDs like -1,-2 etc..).

One thing that I noticed is that if you use any value as `tableOrdering`, the test will pass:

[code]

I don't know why, the only difference is that DBRider will use a `SequenceTableFilter` to create the DBUnit IDataSet implementation:

[code]

Maybe that makes a differe

[2020-09-26 13:51] brunneng commented on #237
But I want to **skip cleaning** for these tables and to clean all the others.

[2020-09-26 15:52] rmpestano commented on #237
I see, for that you either use as on your first comment or just don't use cleanBefore/After and don't declare the tables.

[2020-09-26 16:39] brunneng commented on #237
Seems I figured out how to do it using merging datasets.
First, we need some **BaseTest** for all our tests with the config of **skipCleaningFor** :
[code]
Where empty.yml it's just some empty dataset to avoid error during tests execution.
Then, in the test class, we put
[code]
And that's it - the config is no longer duplicated!

[2020-09-26 16:40] #237 closed

[2020-09-28 13:54] brunneng commented on #232
Hi, I have the same issue :(

[2020-09-28 14:02] brunneng commented on #232
[code]
In the XML configuration (didn't check in other) seems only columns mentioned in the first row (in this case: column1, column2) are inserted for all subsequent rows of the table. column3 for all rows is null, after applying dataset.

So as workaround we should make sure, that the first row contains the most full list of columns and rows with nulls should follow after.
Using **rider-spring:1

[2020-09-28 14:17] rmpestano commented on #232
Hi guys, looking at the [PR](https://github.com/database-rider/database-rider/pull/33), it was fixed for YAML dataset.

For XML we use standard dbunit [XML datasets](https://github.com/database-rider/database-rider/blob/29c38f29655a31a6b09d7305aec6a6237d87be73/rider-core/src/main/java/com/github/database/rider/core/dataset/DataSetExecutorImpl.java#L17-L23) so maybe consider opening an issue at dbu

[2020-10-12 10:37] duschata commented on #236
Hello All,
the usage of negative ids is a good quickfix for me. The tableOrdering "BLABLA" deletes all data before inserting the new dataset and this is probably not the best way to avoid the id-conflict :-)
If I find the the hook, which is responsible for the right sequence ids, then I'll get back to you...

[2020-10-12 10:37] #236 closed

[2020-10-22 17:54] nruzic opened #241 "Usage of RiderDataSource by DataSetExecutorImpl leaks db connections"
Hi guys, I have problems on my project with db connection leakage caused by dbridder.

I think that problem is in few places in DataSetExecutorImpl where RiderDataSource member variable is just annulated before closing connection hold by RiderDataSource instance:

- https://github.com/database-rider/database-rider/blob/29c38f29655a31a6b09d7305aec6a6237d87be73/rider-core/src/main/java/com/github/da

[2020-10-23 09:07] rmpestano commented on #241
Hi @nruzic, the sql connection is stored in ConnectionHolder object which is reused by the executor in multiple tests.

What's the issue are you facing? do you have any reproducer project?

Thanks for the feedback.

[2020-10-29 11:13] RomashkoVictor opened #242 "Slow Sequence Filtering on real database"
Hi everyone.
I use Database rider with postgres database in docker container. I found out, that tests are becoming slower and slower when we add tablse into DataSet. After some investigation, I found that DBrider during SequenceFiltering the method 'RiderSequenceFilter#getDependencyInfo' use big amount of test time( nearly 90%).
It use DBUnit to retrieve 'allDependentTables', 'allDependsOnTables'

[2020-10-29 12:39] rmpestano commented on #242
Hi @RomashkoVictor, for `1` and `2` have a look at [mergeDatasets feature](https://github.com/database-rider/database-rider/issues/237#issuecomment-699518522).

For 3 I'm not sure, needs further investigation

[2020-10-29 13:04] RomashkoVictor commented on #242
@rmpestano Thanks for quick feedback.
Unfortunatelly [mergeDatasets feature](https://github.com/database-rider/database-rider/issues/237#issuecomment-699518522) solution isn't work in our case.
What we have:
`
@DBRider
@DataSet(useSequenceFiltering = false, tableOrdering = {"table1", "table2"})
abstract class BaseTest {
`

`class ConcreteText extends BaseE2ETest {
@Test
  @DataSet(value = "dataset

[2020-10-29 13:30] RomashkoVictor commented on #242
Ok, [mergeDatasets feature](https://github.com/database-rider/database-rider/issues/237#issuecomment-699518522) I didn't correctly read the unswer. Yes, if I add 'empty.yml' dataset,  the **2** feature is working.
may be it will be useful to fix merging error with empty dataset name?

Simply replace
`public static DataSet mergeDataSetAnnotations(DataSet classLevelDataSet, DataSet methodLevelDataSe

[2020-10-29 14:12] rmpestano commented on #242
Hi @RomashkoVictor, can you create a separated issue for the mergeDataSets problem?

Thank you for the feedback!

[2020-10-29 14:19] RomashkoVictor opened #243 "mergeDataSets fails when blank value is used for merging"
To use mergeDatasets feature we should add **'empty.yml'** dataset to class level. In other case we will receive error:

[code]
It can be fixed simply by removing null and empty strings after merge.
[code]

[2020-10-29 14:20] RomashkoVictor commented on #242
@rmpestano Yes, created https://github.com/database-rider/database-rider/issues/243

[2020-11-04 15:10] GithubMood opened #244 "[Improvement] Add IncludeReplacer"
### Motivation
When working with the database column that contains large text or some non-trivial format (like JSON/XML) it will be more convenient to move the content of the column into a separate file.

### Scope
Implement ClasspathFileReplacer that allows using the link to the classpath file in the column value.

[2020-11-08 00:45] cselagea commented on #243
I'm running into this issue as well.

I'm trying to test an insert, so the test method has `@DataSet(cleanBefore = true)`, but since there is a foreign key constraint, I need to insert some data into another table, for which I'm using a class-level annotation `@DataSet("datasets/price-files.yml")` because other test methods need this data as well.

After the merge, the `DataSet` value contains `"d

[2020-11-08 09:09] rmpestano commented on #244
Thank you so much @GithubMood, this feature will be available in `v1.17.0` to be released (I hope) today.

[2020-11-08 09:09] #244 closed

[2020-11-08 09:31] rmpestano commented on #243
Hi guys,

sorry but I'm a bit confused with this issue, do you have a full example?

 I can definitely use `empty.yml` in merge datasets, what may confuse is just the order of how datasets are processed.

The `test` level dataset is processed first and later is the class level:
<img width="1039" alt="Screenshot 2020-11-08 at 10 26 45" src="https://user-images.githubusercontent.com/1592273/98461559

[2020-11-08 09:34] rmpestano commented on #243
Actually you're saying you have to use empty.yml to make it work, I also don't understand why...so please update the issue with complete examples.

Thanks!

[2020-11-08 09:38] rmpestano commented on #243
Ok finally got it, you have `@DataSet(value="")`:

[code]

[2020-11-08 09:58] rmpestano commented on #243
The fix will be available in `v1.17.0` to be released today, thank you guys.

[2020-11-08 09:58] #243 closed

[2020-11-08 10:25] RomashkoVictor commented on #243
Great, thanks=)

[2020-11-09 09:23] RomashkoVictor opened #246 "Tables not defined in 'tableOrdering' option should be used in resulting dataset"
Hi everyone.
I noticed strange behavior with using 'tableOrdering' option.
For example I have 3 tables in my dataset.yml file: first_table, second_table and third_table. And in annotation '@DataSet' I set 'tableOrdering', but add there **2 tables instead of 3**:  first_table and second_table.
As a result, delete and insert operations isn't executed for this table and test failed. I didn't found an

[2020-11-09 13:50] rmpestano commented on #246
Hi @RomashkoVictor, this behavior is what is described on the javadoc, right? https://github.com/database-rider/database-rider/blob/f59232b133b09dddc5cfddb3dd224fefd963162c/rider-core/src/main/java/com/github/database/rider/core/api/dataset/DataSet.java#L41-L45

[2020-11-09 13:55] RomashkoVictor commented on #246
As I understood this javadoc, we have some set of tables and we reorder them. But in real execution we use tables only from tableOrdering property.
May be it will be usefull to show this behavior in javadoc and/or documentation.

[2020-11-09 18:04] rmpestano commented on #246
Hi again @RomashkoVictor, can you check version `1.17.1-SNAPSHOT`? now the tables not present in tableOrdering should also be part of resulting dataset.

You'll need to enable snapshots maven repo on your build to use this version:

[code]

Thanks for the feedback!

[2020-11-10 09:32] RomashkoVictor opened #247 "Operations on table isn't executed when merge datasets is used"
Hi everyone.
I user **MergeDatasets** feature and if I use class level dataset with empty tables, data from method level dataset will not be inserted.
Here is sorce files:
Base test class
[code]
Child test class
[code]
empty.yml
[code]
dataset_with_data.yml
[code]

I want to use empty.yml file to simplify cliening of database(I use clean_insert strategy) and don't duplicate empty tables in every d

[2020-11-10 10:28] RomashkoVictor commented on #246
Hi again @rmpestano
I check  version `1.17.1-SNAPSHOT`. Unfortunatelly the issue is still present.
[code]
In my case target.getTableNames().length is 3, dataSet.getTableOrdering().length is 12 and we go to the else block we do what we did before.

If our target.getTableNames().length is 3 and dataSet.getTableOrdering().length is 2 i receive `violates foreign key constrain` exception.

[2020-11-10 11:09] rmpestano commented on #247
Hi,

In your case `datasets/dataset_with_data.yml` operation will be performed first so both `first_table` and `second_table` will be populated, then afterwards empty.yml operation is executed and then all tables are cleaned. Is that behavior you're seeing?

[2020-11-10 11:13] RomashkoVictor commented on #246
May be it is better to throw exception, if tableOrdering doesn't contains all tables from dataset and don't try to reorder tables.
Because, honestly, I don't know how to perform this merging so that tests still works

[2020-11-10 11:19] RomashkoVictor commented on #247
As I see no operation will be performed at all. We skip all tables here
[code]

What I want of this code - to clear all tables with which I work by default.
Workaroud, that I use now is to execute scripts after or before where I clean all data from tables. The issue is that I should support `tableOrdering` property and script, but both used only to order insert, clean data to tables.

[2020-11-10 11:44] rmpestano commented on #247
Sorry, I cannot follow your reasoning, this code is from DBUnit itself but I don't think the problem you're facing is related to it.

If you provide a test case with expected results, I can try to help, for now, as I said before, I think your issue is related to the order of operations from datasets defined at class and method level.

[2020-11-10 11:50] rmpestano commented on #246
This is not related to merging but to ordering of datasets, as in your first example:

[code]

Usually, tables defined in `dataset.yml` are all defined in `tableOrdering` but if they are not then we should also add them to the resulting dataset. In current code only tables defined in tableOrdering will be include in resulting dataset.

[2020-11-10 12:13] RomashkoVictor commented on #246
But in what order will the tables be in the resulting dataset?

[2020-11-10 12:28] RomashkoVictor commented on #247
Test class DataSetExecutorIt
This test case is failed and reproduce issue, that I have
[code]

We can try to fix issue in DataSetExecutorImpl.loadDataSets method.

[2020-11-10 12:35] rmpestano commented on #246
The ones that are ordered will come first and then the unordered ones (need to check that by the way). I think it's better than not adding a table into the resulting dataset.

[2020-11-10 12:39] RomashkoVictor commented on #246
Example, where it will not work:
table_1 dependes on table_2 that is depende on table_3

correct order to insert data to table_3, table_2, table_1.
To tableOrdering I add: `tableOrdering = {"table_3", "table_1"}`
And after all we will try to insert data in order: table_3, table_1, table_2 -> receive foreight key constaraint.

[2020-11-10 12:48] rmpestano commented on #246
Sure, in this case add all tables present in dataset in tableOrdering to avoid surprises. Also you'll probably get a constraint violation error if the order is incorrect and then you can fix it. In current situation the table which is not present in tableOrdering is simple removed from the dataset so you don't even get an error because the table is even populated,

[2020-11-10 12:50] RomashkoVictor commented on #246
yes, I agree with you. Current situation is bad and error with incorrect ordering is much better=)

[2020-11-10 12:54] rmpestano commented on #247
So, as the table USER is present in both datasets that's why ordering matters. To fix, just remove `USER` table from empty.yml because the table is already present there.

I think your problem is that you're trying to reuse too much the datasets in too many different scenarios. Just create specific datasets and you'll be ok.

[2020-11-10 13:04] RomashkoVictor commented on #247
`empty.yml` dataset is shared between all tests. So I cannot just remove `User` table from empty.yml dataset, as in other test it must be empty.

May be I try to reuse too much. I will describe situation, why I try to do so.
We use clean_insert strategy and our tests run in different order. To clear table in test we should also clear all dependent tables. So in every dataset we have many empty tab

[2020-11-10 13:45] rmpestano commented on #247
So maybe if datasets at class level are loaded first your issue is solved.

If that's the case then maybe we can add a property in `dbunit.yml`/`@DBUnit` to invert the order of execution in merge datasets like:

[code]

[2020-11-10 13:47] RomashkoVictor commented on #247
In my case it will be enough. But I afraid, that somebody will have both situations. Where class level dataset will be empty and method level.

[2020-11-10 16:44] GithubMood opened #248 "Add support of multiple datasets for different datasources in the same test"
### Motivation

In the complex application that works with multiple relational databases, there is a need for integration testing with running 2 databases simultaneously. It would be good to have an option for managing datasets for different databases in the same test (for instance: use case of transferring data from one database to another).

### Scope
As it is a challenging requirement it makes

[2020-11-10 18:17] GithubMood commented on #248
Maybe I was too hurry when saying that Java 7 is a blocker.
We can just use aggregate annotation.

Something like this:
![image](https://user-images.githubusercontent.com/23056623/98714549-b04d0600-2391-11eb-9359-e4466e70b9d9.png)

[2020-11-10 18:18] rmpestano commented on #247
Yea but for me it makes more sense to first load `classLevel` datasets because then you can override their behavior in the method level. You can even have a default USER table data in all datasets but if you want different users in a specific test you can just override the class level dataset in a specific test via method level merging.

On the other hand, as the merging is done now the more speci

[2020-11-10 18:35] rmpestano commented on #248
Hi @GithubMood, thanks for the idea but I think using RiderDSL would be easier in such cases. I mean, for a DBRider perspective I think there will be a lot of changes to support a not so common use case.
If you can prepare a PR and show I'm wrong, that that can be done with small changes only on Spring module than maybe we can add it.

With RiderDSL you can easily work with multiple DS:

[code]

W

[2020-11-10 19:06] GithubMood commented on #248
@rmpestano yeap, you are absolutely right. Much easier to use RiderDSL in such cases.
Also, if I got your point, RiderDSL will work in any environment (Spring, Junit5, Cucumber). So I totally agree with you that supporting another approach is not worth:)

Thank you for your time!

Closing the issue then.

[2020-11-10 19:06] #248 closed

[2020-11-11 08:42] RomashkoVictor commented on #247
Great Thanks!)
For me it makes more sense to first load `classLevel` datasets too. It is usuall behavior of Spring annotations, where class level loaded first and can be overriden by method level.

[2020-11-11 09:45] rmpestano commented on #247
Can you try using the `mergingStrategy` to see if that works for you? you may need to update the snapshots with `mvn -U test`

[2020-11-11 10:16] RomashkoVictor commented on #242
My second proposal was implemented in https://github.com/database-rider/database-rider/issues/247

[2020-11-11 10:16] RomashkoVictor commented on #247
I checked new version it solve my issue completly)
Thanks.

[2020-11-11 10:49] RomashkoVictor commented on #247
Some usefull comments of usage DBrider, that you may add to documentation in version 1.17.1
To improve speed of test execution, use abstract BaseTest class with configuration:
[code]
empty.yml
[code]

Test class contains only:
[code]
dbunit.yml
[code]
This setup on real database run in 10 times faster, than with option `useSequenceFiltering = true`, all data from tables cleared before test and we

[2020-11-11 11:14] rmpestano commented on #247
Really great news!
About the performance improvements, it is expected that useSequenceFiltering = true will slow down the tests, even more if you use a real database with lot of tables instead of a dedicated database for testing. On the other hand, useSequenceFiltering=true simplifies the configuration in most of the cases, so it's always a compromise, if you need tunning then you need to configur

[2020-11-11 11:17] rmpestano commented on #242
Can we close this issue?

[2020-11-11 11:44] RomashkoVictor commented on #242
I think yes, because I don't know is it possible to implement third improvement and may be it will be difficult and unnecessary.

[2020-11-11 11:47] RomashkoVictor commented on #247
Thanks you too)
I have never shared my experience on any blogs. Maybe it's time to start)
If I create post I will share link with you)

[2020-11-12 13:38] #247 closed

[2020-11-12 13:38] #246 closed

[2020-12-01 09:51] pmajkutewicz opened #249 "org.dbunit.dataset.NoPrimaryKeyException when using @ElementCollection in @Entity"
Having (more or less) class like:

[code]

And dataset like:

[code]

After running test that uses this dataset I'm getting:

[code]

Founded article about it: https://dzone.com/articles/dbunit-unable-import-data but I don't know (can't find in docs) how to set up `IColumnFilter` with database rider.

[2020-12-09 13:13] jorge-pascual opened #250 "Regex doesn't work due to DataSetAssert's compareData method isn't called"
Hello all!

I'm trying to use Regex in my code but I can't.

It looks like `DataSetAssert` isn't used by the system. So, the regex engine is never called.

This is the stacktrace where you can see that the `compareData` methods used are from `DbUnitAssertBase` and not from `DataSetAssert`

[code]

Any suggestion?

thank you!

[2020-12-09 14:14] rmpestano commented on #250
Hi, do you have any code to share? Which version are you using?

Also, [here](https://github.com/database-rider/database-rider/blob/cea65b6fe20733b07b49e73bed7b887ce8dfa626/rider-core/src/test/java/com/github/database/rider/core/ExpectedDataSetIt.java#L72-L84) and [here](https://github.com/database-rider/database-rider/blob/cea65b6fe20733b07b49e73bed7b887ce8dfa626/rider-core/src/test/java/com/gith

[2020-12-09 17:14] jorge-pascual commented on #250
Sure... I've uploaded a sample project here: https://github.com/jorge-pascual/test-rider-regex

Stack:
- Spring Boot 2.4.0
- Postgresql 42.2.12
- Cucumber 6.0.0
- DBUnit 2.6.0
- Rider 1.18.0

[code]

Service:
[code]

Stepdefs:

[code]

And Dataset:
[code]

Error:
[code]

Thank you @rmpestano

[2020-12-09 21:13] rmpestano commented on #250
Can you try using RiderDSL like in [this example] (https://github.com/database-rider/database-rider/blob/585beff0ac49c9d71b9eb1fc119c0aeba9bbeeef/rider-core/src/test/java/com/github/database/rider/core/dsl/RiderDSLIt.java#L359)?

[2020-12-10 07:55] jorge-pascual commented on #250
Sure @rmpestano

[I've done it](https://github.com/jorge-pascual/test-rider-regex/blob/40773ecf3c1cde87eebf98789a9e98c153da17f1/src/test/java/com/example/demo/glue/Stepdefs.java#L47). Also I've used `CONTAINS`...  but same result :(

[code]

It looks like the signature of `DataSetAssert.compareData` is never used.

`DbUnitAssertBase.assertWithValueComparer` uses

[code]

and that one, uses

[code]

[2020-12-10 08:01] rmpestano commented on #250
Alright, that's for sure the issue, see here:
https://github.com/database-rider/database-rider/issues/111#issuecomment-452425777

I'll try to spend some time on that issue in next weekend

[2020-12-10 08:03] jorge-pascual commented on #250
Great! Thanks @rmpestano If I can help in some way... just let me know!

[2020-12-10 08:39] jorge-pascual commented on #250
Tested... I've only changed

[code]

with

[code]

and the same test worked like a charm!.

[2020-12-10 08:58] rmpestano commented on #250
Awesome!

[2020-12-10 20:27] rmpestano commented on #104
Hi @JoergSiebahn,

After 2 years I'm not sure you're still using dbrider but if so, can you try using v`1.18.1-SNAPSHOT`?

You'll need to enable snapshots repo on your build system:

[code]

[2020-12-11 15:29] JoergSiebahn commented on #104
Thanks for coming back to this issue.

We still suggest to use dbrider for SQL DBs in [our library](https://github.com/SDA-SE/sda-dropwizard-commons) that is now open source. But we were stuck on the old version. Honestly it is not in very active use because most of our services use MongoDB. So I can't test the version in detail.

I tried 1.18.1-SNAPSHOT together with DBUnit 2.5.3 and the latest 2

[2020-12-12 12:29] rmpestano commented on #104
Hi @JoergSiebahn, thank you very much for the feedback, the NPE should be fixed now. Let me know and then we can release a new version.

Thank you again!

[2020-12-12 18:52] rmpestano commented on #104
Hi again, the fix is available in just released `1.19.0`. If the issue persists just reopen this issue.

Thanks for the feedback.

[2020-12-12 18:55] rmpestano commented on #111
Starting with just released v`1.1.9.0`, DBRider is also compatible with DBUnit 2.6 or above. I also tested in a project using dbunit 2.5.3 without issues.

[2020-12-12 18:55] #111 closed

[2020-12-14 13:59] GithubMood opened #252 "Disable "Sequence Filtering" globally"
The "Sequence Filtering" feature automatically resolves the correct order of the INSERT/DELETE statements based on the foreign key metadata. This feature is enabled by default.

I noticed there is a huge performance overhead of using the feature.
Please see the benchmarks for the same test with the enabled and disabled feature.

Test with enabled "Sequence Filtering" feature:
![image](https://user

[2020-12-14 16:21] #252 closed

[2020-12-14 16:21] rmpestano commented on #252
Thank you very much @GithubMood, it will be available in `1.20.0` probably to be released in next days.

To use it right now you can use `1.19.1-SNAPSHOT` by enabling [snapshots repo](https://github.com/database-rider/database-rider#snapshots) in your build.

[2020-12-14 16:26] GithubMood commented on #252
@rmpestano Thank you for your contribution and for maintaining such a great library!

[2020-12-15 09:13] rmpestano commented on #250
Since `v1.19.0` it should also work with DBunit 2.6.0.

[2020-12-15 09:13] #250 closed

[2020-12-15 09:14] rmpestano commented on #242
Hi @RomashkoVictor, in next version you'll also be able to disable filtering globally, see #252.

[2020-12-15 09:14] #242 closed

[2020-12-15 09:16] rmpestano commented on #232
Closing as it's not related to DBRider

[2020-12-15 09:16] #232 closed

[2020-12-15 09:56] RomashkoVictor commented on #242
@rmpestano Great, thanks)

[2020-12-16 07:28] rmpestano commented on #249
Hi @pmajkutewicz,

I don't think we have a way to add a Column filter dynamically, I think we would need to have a property in `@DataSet` to enable the loading of datasets without a primary key.

I'll try to work on this for the next release and let you know when it's ready so you can try it.

Thank you for the feedback!

[2020-12-16 21:57] #190 closed

[2020-12-16 21:59] #136 closed

[2020-12-16 22:00] #119 closed

[2020-12-16 22:01] #110 closed

[2020-12-16 22:02] #103 closed

[2020-12-16 22:03] #102 closed

[2020-12-16 22:04] #57 closed

[2020-12-16 22:05] #241 closed

[2020-12-20 13:00] rmpestano commented on #249
Hi @pmajkutewicz,

I've added a new property in `@DBUnit` called `disablePKCheckFor` where you can specify the tables you don't want the PK check:

[code]

You can also configure it globally via `dbunit.yml` file.

You can try it now by using `1.20.1-SNAPSHOT`, to do so you need to enable [snapshots repo ](https://github.com/database-rider/database-rider#snapshots)on your build system.

Let me kno

[2020-12-23 07:12] rmpestano commented on #249
It's available in just released version `1.21.0`.

[2020-12-23 07:12] #249 closed

[2020-12-23 07:16] #234 closed

[2020-12-23 07:21] rmpestano commented on #219
Hello @akondasif, sorry for the late reply and thanks for looking into this.

This library is not a long-running process on any operating system, it's lifespan is attached to the test execution phase (e.g maven/gradle test phase) and will be terminated after that. Do you still think that can be issue?

[2020-12-23 07:23] #183 closed

[2020-12-23 07:25] rmpestano commented on #87
Fixed by 2b64c1b474ee852bff96984a28781a6e5da9a62d

[2020-12-23 07:25] #87 closed

[2020-12-31 14:30] pmajkutewicz commented on #249
@rmpestano
I'm not so sure if this is working...
I've added ` @DBUnit(disablePKCheckFor = "FEATURES")` (generated by @ElementCollection(targetClass = String.class, fetch = FetchType.EAGER)) and now I'm getting

[code]
For every other table (with PKs) - so basically guessing that I have to put all my tables in `disablePKCheckFor`.

[2021-01-04 07:13] duschata commented on #236
I've found it...

`<property name="hibernate.id.new_generator_mappings" value="false" /> `

is hibernate specific but generates sequences for each table...

[2021-01-04 12:42] JoergSiebahn commented on #104
Thank you very much. We integrated the latest version successfully.

[2021-01-05 13:12] rmpestano commented on #236
Thanks for the update @duschata!

[2021-01-08 18:14] coiouhkc opened #253 "[Postgres] [OID] [Quarkus] [rider-cdi] java.lang.ClassCastException: class io.agroal.pool.wrapper.ConnectionWrapper cannot be cast to class org.postgresql.PGConnection"
Using `rider-cdi` (`1.18.0`) in Quarkus, trying to validate test results via `@ExpectedDataSet` for a table containing an `oid`-typed column I get above exception

`java.lang.ClassCastException: class io.agroal.pool.wrapper.ConnectionWrapper cannot be cast to class org.postgresql.PGConnection
`
### Stacktrace

### Reason
`PostgreSQLOidDataType` gets a `Agroal`-wrapped connection and cast fails

##

[2021-01-08 20:07] rmpestano commented on #253
Hi, have you tried rider-cdi 1.21.0?

Also, we have [postgres test here](https://github.com/database-rider/database-rider/blob/06f738fdfe6ab7f2d5a6711c1115c5e5672025f0/rider-core/src/test/java/com/github/database/rider/core/PostgreSQLDatabaseIt.java#L28)  , How a failing test would look like?

Thanks for the feedback.

[2021-01-08 21:32] coiouhkc commented on #253
Hi @rmpestano, i've tried the latest version, it's still failing. You'll find a small reproducer project here https://github.com/coiouhkc/dbrider-issue-253 (just execute `DbRiderIssue253Test`, it uses `testcontainers` to bootstrap a postgres for the test, so you'll need docker on the test machine).

[2021-01-09 09:33] rmpestano commented on #253
Thank you very much for the reproducer.

Can you try with `v1.21.1-SNAPSHOT`? You'll need to [enable snapshots repo](https://github.com/database-rider/database-rider#snapshots) on your project.

[2021-01-09 12:06] coiouhkc commented on #253
Hi @rmpestano, thanks for the quick fix - i tried it in both reproducer and real projects and both now work OK with regards to the issue. When do you plan to release the fix?

[2021-01-09 12:46] rmpestano commented on #253
Hi, thanks for checking!

`1.21.1` should be at maven central in next hours.

Thank you again!

[2021-01-09 12:51] #253 closed

[2021-01-12 16:19] coiouhkc opened #254 "DBUnitInterceptorImpl seems to be relying on junit4 being transitively provided by dbunit"
Hi @rmpestano
thanks again for the great tool!
I'm trying to workaround the https://sourceforge.net/p/dbunit/bugs/437/ (basically building a custom version of `rider-cdi` using custom version of `dbunit`) and i've noticed, that in the `master` of `dbunit` JUnit 4 is marked optional in `pom.xml`.
Does it make sense from your point of view to rely on JUnit 4 being provided for `rider-cdi` by dbunit?

[2021-01-25 11:47] MetallFoX opened #255 "YamlDataSet doesn't preserve order of tables"
YamlDataSet uses HashMap to store tables and therefore it's iterator usage leads to wrong insertion(or other operations) sequence.

Tables order should be preserved.
Substitution of LinkedHashMap to HashMap could fix the problem.

[2021-01-25 16:48] #255 closed

[2021-01-25 16:56] rmpestano commented on #254
Hi @coiouhkc, sorry for the late reply

I agree and I really don't remember why we're checking for junit 4 callback methods on the interceptior, so I think we can remove it:
[code]

can you provide a PR?

Thank you for the feedback!

[2021-01-25 17:13] coiouhkc commented on #254
Hi @rmpestano , from what i've seen it could be related to #93 ... meanwhile i will prepare the PR.

[2021-01-26 07:52] rmpestano commented on #254
Hi again @coiouhkc,

I have played a bit with this issue, have a look here: https://github.com/database-rider/database-rider/pull/257

Let me know what do you think

[2021-01-26 08:10] coiouhkc commented on #254
Hi @rmpestano , from what i could understand it looks good, i'd only suggest to make the behaviour configurable, e.g. add a configuration property or add a `dbrider`-specific annotation like `IgnoreDBRiderInterceptor` o.s.
I think it would be more flexible.

[2021-01-26 08:22] rmpestano commented on #254
Thanks for the feedback.

For now, I don't think we need to make it configurable mainly because it's cdi module specific config and I don't think it would be nice to have it in global config.

Also, creating an annotation only for that would add a bit of complexity we may not need.

Let's start with this constant set of annotations which I think will cover most of the cases and then if users have

[2021-01-26 08:37] coiouhkc commented on #254
Perfect!

[2021-01-26 10:29] #254 closed

[2021-01-27 16:45] vaa25 commented on #242
@rmpestano @RomashkoVictor you can cache DependencyInfo in RiderSequenceFilter for third improvrment:

[code]

[2021-01-28 07:52] rmpestano commented on #242
Hello @vaa25,

if all tests are passing after the change I'm happy to merge the PR, can you open one?

Thank you!

[2021-02-01 20:20] vaa25 commented on #242
@rmpestano Sure. Here you are. https://github.com/database-rider/database-rider/pull/258 . I tested it using as library in my project.

[2021-02-16 22:58] vaa25 opened #259 "Add support of junit5 @Nested annotation"
Current implementation: test1 works, test2 doesn't work. Cause - @DbUnit in AbstractRepositoryTest doesn't work for MethodTest.

I want test2 to work too.

[code]

[2021-02-19 12:08] ahrytsiuk commented on #50
Hello @rmpestano, seems this issue is back starting from version `1.15.0`.
Should this issue be reopened or create a new one is preferable?

[2021-02-19 12:35] rmpestano commented on #50
Hi @ahrytsiuk, I'll reopen this one

[2021-03-05 10:10] fcota92 opened #261 "DBUnitInterceptorImpl does not pass the expected CompareOperation to the dataSetExecutor compareCurrentDataSetWith"
When we use the `@ExpectedDataSet` annotation like in the following example, the CDI `DBUnitInterceptorImpl` only pass the  `value`, `provider` and `ignoreCols` properties.  Other properties, like `compareOperation`, `orderBy` and `replacers` are ignored.

[code]

One of the 2 calls to the `compareCurrentDataSetWith` in the `DBUnitInterceptorImpl`:

[code]

[2021-03-05 12:54] rmpestano commented on #261
Thanks for heads up

[2021-03-07 08:36] #261 closed

[2021-03-07 09:53] #259 closed

[2021-03-07 16:32] mbunzel opened #262 "Missing data with HikariCP and autocommit=false"
I'm not too familiar with DBUnit so perhaps I'm missing something obvious, but Database Rider doesn't seem to insert any data when the DataSource is wrapped in a Hikari pool with the autocommit property set to false.

I've created a very simple reproducer [here](https://github.com/mbunzel/rider-hikari-autocommit) based on your spring boot examples. The tests succeed when spring.datasource.hikari.a

[2021-03-12 13:11] denniskawurek opened #263 "Junit5 - Run all callback methods on the class hierarchy"
Hi everyone,

I have the following basic test class, which wipes the data of the H2-database and leaves the *basic data* needed for all tests:

[code]

Then I have this test class

[code]

I tried to make it run with two different ways:

1. `executeScriptsAfter` in `ConcreteTest`

First the `@BeforeEach` method of the `BaseTest` is called and afterwards the one of the `ConcreteTest`.

In this case

[2021-03-15 08:03] rmpestano commented on #263
Hi @denniskawurek, we have a test case for that, can you compare with your code?

See example here: https://github.com/database-rider/database-rider/blob/master/rider-junit5/src/test/java/com/github/database/rider/junit5/JUnit5LifecycleHooksInSuperclassIt.java

[2021-03-15 08:07] rmpestano commented on #263
When I find some time I'll try to add the same scenario to our [SpringBoot sample](https://github.com/database-rider/database-rider/blob/master/rider-examples/spring-boot-dbunit-sample/src/test/java/com/github/database/rider/springboot/SpringBootDBUnitTest.java), maybe it's related to SpringBootTest.

[2021-03-16 13:50] denniskawurek commented on #263
Hi @rmpestano
Thank you for your answer.

I've checked the code of the samples with my code and found some differences, but unfortunately changing it accordingly to the samples didn't work. I've got the same issues as above - either the data isn't stored or when not setting `disableConstraints = true` I'm getting an Primary key exception by the database as the data didn't get wiped.

I have change

[2021-04-21 11:47] hhovhann opened #264 "Autogenerate dtd file based on entity structure"
Dear members, thanks for your hard and nice job.

Followed video from https://www.youtube.com/watch?v=1eRDIAqUBVU&t=30m35s

Situation:

I have an entity Book and have there some attributes id, name, email, etc.
Have integration with the DbRider test framework. For those who have defined XML files, with data per scenario.
So now I am creating a manually dtd schema validation file for the dataset an

[2021-04-29 11:34] duschata opened #265 "Problems with inserting xml datasets into Oracle 19 DB"
Hi All, hi Rafael (again),
I got this stack when I tried to read xml datasets into an Oracle 19 database. I hope the information is sufficient, otherwise I can also send a few lines of code.
Any ideas what could have gone wrong? Regards,

Tom

`
 DBUnit configuration for dataset executor 'default':cacheConnection: true
cacheTableNames: true
caseInsensitiveStrategy: UPPERCASE
columnSensing: true
le

[2021-04-30 06:56] duschata commented on #265
Hi All,
finally (hours later) I've changed some lines of code and it works for me. The problem occours only if DataSetConfig.cleanBefore is set to true, because this flag disables/enablesContraints.

https://github.com/database-rider/database-rider/blob/52d14ea8436f0fa01a5d8cc844bf1437726e7001/rider-core/src/main/java/com/github/database/rider/core/dataset/DataSetExecutorImpl.java#L391-L393

The q

[2021-04-30 10:16] rmpestano commented on #265
Hi @duschata,

interesting, can you open a PR for that?

Also, can someone test this on an older oracle version?

Thank you for the feedback!

[2021-05-06 23:05] cselagea commented on #263
I have the same issue.

Superclass:
[code]

Subclass:
[code]

When I run a test class that extends `BaseBookmarkTest`, it fails because the security.yml dataset was not created.

I added some `println` statements to both of these `@BeforeEach` methods and observed that both methods are being executed, but `com.github.database.rider.junit5.DBUnitExtension#beforeEach` is only called once and it uses

[2021-05-07 07:25] rmpestano commented on #263
Hey guys, so the idea is to run all callback methods in the class hierarchy. Looking the the code it seems to be possible by changing `findCallbackMethod` to return a list of methods and for each of them call [executeDataSet here](https://github.com/database-rider/database-rider/blob/52d14ea8436f0fa01a5d8cc844bf1437726e7001/rider-junit5/src/main/java/com/github/database/rider/junit5/DBUnitExtensio

[2021-05-07 14:54] beskow opened #267 "Escape double-quote and backslash characters when exporting data in YML and JSON format"
We use embedded JSON as string values in a couple of tables, which cause issues when exporting data in YAML or JSON format (since the embedded JSON uses double-quotes for element names). Any double-quote or backslash character in a value should be properly escaped using \" and \\ respectively, in order to produce valid YAML or JSON.

[2021-05-08 09:52] rmpestano opened #269 "Migrate ci/cd to github actions"
Apparently travis-ci.org builds stopped working (needs to be migrated to travis-ci.com) and also Bintray (service we used to push releases to maven central) was shut down.

Replace both travis and bintray with github actions

[2021-05-10 18:12] bergerst opened #280 "Dataset with UTC datetimes and spring.jpa.properties.hibernate.jdbc.time_zone=UTC result in wrong times"
I have a `dataset.yml` similar to this:
[code]

The Hibernate class for that would be something like
[code]

In my Spring application.yaml, I have this setting:
[code]
in order to store any Hibernate `java.util.LocalDateTime`s as UTC in the database.

My system's timezone is Europe/Berlin.

If I now query for the dataset entry using Hibernate, `createdAt` will have a LocalDateTime value of `2021-0

[2021-05-15 14:39] #269 closed

[2021-05-16 09:34] rmpestano commented on #265
Fixed by #266, thank you @duschata

[2021-05-16 09:34] #265 closed

[2021-05-16 09:34] rmpestano commented on #267
Fixed by #268, thank you @beskow

[2021-05-16 09:34] #267 closed

[2021-05-18 10:23] jenskreidler opened #290 "Seed database with sql files"
As a developer, I want to use my yaml-based test-data-suite to initally feed an other test database instance. For doing so, I'd like to export/convert my *.yml files to sql-files and feed any database with that.

Is this feature included in database-rider? Or should one do an other trick, just in my mind would be: let a dbrider-unit-test point to a test database and run it hollowly against that da

[2021-05-19 05:51] rmpestano opened #291 "Updates JUnit Jupiter engine and platform"

[2021-05-19 07:23] #291 closed

[2021-05-19 19:41] rmpestano commented on #290
Hey @jenskreidler, I couldn't get the idea, do you have any code sample on how the feature look like? in my understand it's something a db migration tool would do but maybe I got it wrong

[2021-05-20 18:43] jenskreidler commented on #290
@rmpestano : having a quick glance at that API it looks great and something I do soon really need. Thank you for that clue!

[2021-05-29 04:42] TheWriterAddict opened #313 "Don't work with Arquillian JUnit 5"
Using BOM "org.jboss.arquillian:arquillian-bom:1.7.0.Alpha9" ` @DataSet` populate the database elements, however the test method is never called and run success apparently.

[code]

[2021-05-31 11:16] rmpestano commented on #313
Hi @TheWriterAddict, do you have a sample project to share?

I never tried Arquillian with DBRider as there is a "native" dbunit extension for arquillian called arquillian-persistence-extension

[2021-06-01 17:38] thewriteraddict commented on #313
I wrote something for test:

[code]

The test run display success however test method is never executed, instead an assertion error must be thrown.

Test method: __org.sample.arquillian.service.GameDbRiderTest#queryGame__

[2021-06-02 13:02] rmpestano commented on #313
So if you manage to get the datasource connection in the test it may work because that's how Junit5 integration gets the jdbc connection when there's no built-in integration (like Micronaut and SpringBoot):

[code]

For me, the datasource is always null but probably I'm doing some mistake which you may be able to fix:
<img width="922" alt="Screenshot 2021-06-02 at 14 59 03" src="https://user-image

[2021-06-02 17:00] rmpestano commented on #313
Alright, the main problem here is that the test runs outside the container (wildfly in your case) so we don't have access to the datasource and hence the jdbc connection.  Even if you use connection config in DBunit.yml it will not be able to fetch the connection because it exists only on the server side.

That's why you need an arquillian extension such as [arquillian persistence](http://arquilli

[2021-06-02 20:14] thewriteraddict commented on #313
The problem is the test method is never executed, however surprisingly test result is success. The database table is populated with @DataSet YML file. The URL connection "jdbc:h2:mem:arquillian;DB_CLOSE_DELAY=-1" use DB_CLOSE_DELAY=-1, so the database is shared across same JVM instance (Wildfly Connection Pool and DbRider JDBC Connection for DbUnit).

Using ArquillianExtension test method is execu

[2021-06-03 07:04] rmpestano commented on #313
Seems you're right, the database is being created and populated:
<img width="1034" alt="Screenshot 2021-06-03 at 09 01 10" src="https://user-images.githubusercontent.com/1592273/120601707-94eb3a80-c44a-11eb-9235-6a1a3bc0b7af.png">

I did some debug in both junit extensions and couldn't identify the issue, the test callbacks are being executed but not the test method itself.

[2021-06-03 15:41] thewriteraddict commented on #313
Exactly.

Maybe it has something to do with the JUnit 5 API.

I will keep trying.

[2021-06-05 02:40] yuhaibohotmail opened #316 "Support using the TCCL load resource"
Could not initialize dataset when I  use database rider in  quarkus continuous testing. It need TCCL  load resource.

#https://github.com/quarkusio/quarkus/issues/17700

[code]

[2021-06-05 14:09] rmpestano commented on #316
Makes sense, thanks

[2021-06-05 18:21] rmpestano commented on #316
Can you try with `1.23.2-SNAPSHOT`? Check here for how to enable snapshots: https://github.com/database-rider/database-rider#snapshots

[2021-06-05 21:20] yuhaibohotmail commented on #316
It works for me,thanks a lot!

[2021-06-06 09:21] rmpestano opened #317 "Refactory JUnit5 extension"
The extension is doing too many things in [DBUnitExtension](https://github.com/database-rider/database-rider/blob/5fcd3d4a756147eed9f6b71357cc585e862f433f/rider-junit5/src/main/java/com/github/database/rider/junit5/DBUnitExtension.java#L56). Refactory it in separated classes

[2021-06-06 09:23] #317 closed

[2021-06-06 18:34] rmpestano commented on #263
Hi @denniskawurek  and @cselagea, can you try with 1.23.2-SNAPSHOT to check if the issue is fixed? Check here for how to enable snapshots: https://github.com/database-rider/database-rider#snapshots

[2021-06-09 07:03] #316 closed

[2021-06-09 07:04] rmpestano commented on #263
The fix is available in v`1.24.0`, you can reopen this issue later if you still have issues with it

[2021-06-09 07:04] #263 closed

[2021-06-10 22:47] renke0 opened #323 "Enable support for datasets with the ".yaml" extension"
As of now, creating datasets with the `.yaml` extension will result in an error, since `DataSetExecutorImpl::loadDataSet` is only looking up for files with the `.yml` extension.

Since both forms are valid and `.yaml` even being [the preferred format in yaml.org](https://yaml.org/faq.html), I believe this format should be supported as well.

[2021-06-11 12:32] rmpestano commented on #323
Hi @renke0, makes sense.

It should be available in v`1.25.0` which should be out this weekend, thanks for the feedback!

[2021-06-23 17:40] rmpestano commented on #323
v`1.25.0` was just released

[2021-06-23 17:40] #323 closed

[2021-06-24 13:41] ferdi-github opened #328 "Constraint handling uses unquoted table names"
Currently there seems to be no way to use the `disableConstraints` feature on a database that contains tables named using reserved words (for example "USER" in an oracle database).

DBUnit itself provides a parameter `escapePattern` to work around this issue. However the constraint handling code in `DataSetExecutorImpl` does not take quoting into account
https://github.com/database-rider/database-

[2021-07-02 17:02] victor-costa-avancee commented on #104
Is it just me or is something similar happening in current version (1.24.0)?
[code]
I am forced to add the method annotation @DataSet although I have the exact same annotation on the test class

[2021-07-05 08:16] rmpestano commented on #328
Hi @ferdi-github, makes sense. Let's try to get this into next release (sorry for the late reply)

[2021-07-13 07:39] rmpestano commented on #104
Hi again @victor-costa-avancee,  we have this parameterized test which has `@DataSet` only at class level:
https://github.com/database-rider/database-rider/blob/d94ac85368d24737f280df88edea97e047d86dfd/rider-junit5/src/test/java/com/github/database/rider/junit5/ParameterizedClassLevelIt.java#L15-L27

Is this the same you're trying or there's something else?

[2021-07-13 10:26] victor-costa-avancee commented on #104
Im using rider-cdi. Here is a reproducer https://github.com/victor-costa-avancee/DBRider-param-reproducer

[2021-07-13 16:50] rmpestano opened #329 "Quarkus samle - add multiple datasources example"
Add multiple ds example in [quarkus sample application](https://github.com/database-rider/database-rider/tree/master/rider-examples/quarkus-dbunit-sample)

[2021-07-14 07:28] hheg opened #331 "Cannot clear table after test is executed due to autoCommit is true"
Getting the following error when running a test method with `cleanAfter = true`. Looking through DBUnitExtension it seems like it requires the connections to be in autoCommit = false mode since the code doesn't take care of it. This must be wrong. The code should handle the situation and manage the commits and reset the autoCommit value to whatever it was prior it was running.
[code]
The test meth

[2021-07-14 07:39] hheg opened #332 "Rider is leaking connections when cacheConnections = false"
DBUnitExtension is leaking connections when the cacheConnections flag is false. If the are more than X tests and the connection pool has X connections the subsequent tests fails when waiting for checking out new connections.
The if the flag is set `DataSetExecutorImpl.instance` method doesn't set the `connectionHolder` to the context which means that the `beforeTestExecution` must close the connec

[2021-07-14 09:15] rmpestano commented on #104
Hi again @victor-costa-avancee, I couldn't run your sample because of database setup so I tried to reproduce on quarkus dbunit sample which uses CDI but It's working there, can you have a look? https://github.com/database-rider/database-rider/blob/3e0aed1a149cf9d152e7229cb08c4aba373acd7d/rider-examples/quarkus-dbunit-sample/src/test/java/com/github/quarkus/sample/QuarkusDBUnitParameterizedTest.jav

[2021-07-14 10:05] rmpestano commented on #332
Hi @hheg, I've added a test on junit5 module and indeed when `cacheConnection=false` it is failing after the first test is run. The second test will fail to retrieve information from the connection (probably because it is closed):

[code]

Thanks for the heads up, I'll investigate

[2021-07-14 10:10] rmpestano commented on #332
It also affects the core module (only CDI and quarkus examples are working without caching connection), maybe we shouldn't manage connections in dbrider and always cache the test connection. It is not a long-running application so leaking one connection during tests shouldn't be a problem. I'll think about and I'm also open for feedbacks/use cases where managing connection is tests is needed.

[2021-07-14 10:47] hheg commented on #332
Hi @rmpestano. I think your exception is different from mine. My tests fails explicitly with a timeout exception when trying to checkout a connection, they all timeout after 30 seconds which is the timeout limit for Hikari connection checkout.
I don't think DBRider should manage any connection at all but return them when they are done with it. This to let the container run un-interfered since this

[2021-07-14 15:35] hheg commented on #332
I'm getting this exception:
[code]

[2021-07-14 17:51] rmpestano commented on #332
Interesting, maybe your issue is related to #262? I never had the chance to look into the reproducer but I'll give it a try when I find some time.

Thanks again

[2021-07-15 07:06] rmpestano commented on #332
Hi again,

I found the issue here, the main problem is when `cacheConnection=false` rider will close the connection after test execution:

https://github.com/database-rider/database-rider/blob/79fee5419112a24726229171b0122aa5efcca8eb/rider-core/src/main/java/com/github/database/rider/core/RiderRunner.java#L109-L111

And this is a big problem when you're using a connection pool because connections

[2021-07-15 09:19] hheg commented on #332
@rmpestano Hi! Closing a connection that belongs to a pool will return it to the pool. A connection that is maintained by a pool is a proxy of the real connection so it will take care of the returning of the connection without actually closing it. This is ofc implementation specific but the general contract of a connection pool is that you should use the close() method on a connection.
It's perfec

[2021-07-15 09:26] hheg commented on #332
The issue #331 seems to be more related to #262, even though the problem is due to dbrider doesn't manage the autoCommit flag when starting transactions. This issue happens regardless of the status of autoCommit.

[2021-07-15 09:36] victor-costa-avancee commented on #104
I didn't test it on the H2 DB but if you remove the following lines from the application.properties file:
[code]

[2021-07-15 09:49] victor-costa-avancee commented on #104
I also had to fix the username and password configuration, the properties should be (without the JDBC part)
[code]

[2021-07-15 10:07] rmpestano commented on #332
Hey,

In our case we cannot use any specific connection pool implementation, we just use the plain jdbc connection provided by users so closing it will not return to the pool (I guess).

We cannot use `try(Connection con = datasource.getConnection()) {` in DBRider because we need the connection before and after tests. The idea is to just use the connection provided to us so we don't need to consid

[2021-07-15 10:11] rmpestano commented on #331
Note that tables present in dataset will be cleaned by dbunit but anyway I'll try to add HikariCP config to our SpringBoot sample project to reproduce the issue

Thanks

[2021-07-15 10:53] hheg commented on #332
Hi, you are using the jdbc connection which is a proxy pooled connection behind the scenes.
[code]
You are using a DataSource which is being looked up by using spring's application context here. So the connection here is a jdbc proxy connection. It's perfectly safe to close the connection by using the `close()` method. But when doing so it will be returned to the pool and cannot be reused. I was j

[2021-07-15 12:50] hheg commented on #332
Just for the record here this is the `con.toString()` output:
`HikariProxyConnection@1563073318 wrapping com.mysql.cj.jdbc.ConnectionImpl@176cc62b`

[2021-07-15 12:56] victor-costa-avancee commented on #104
I managed to spend some more time on this and tested with the H2 DB. If you comment out the `shouldFindBookByTitleUsingMethodLevelDataSet` test, the other two will throw an AssertionError.

[2021-07-15 13:47] trks1970 opened #335 "Warning is issued if column value contains : (Colon)"
I have a dataset, where several text fields contain values like:
"ABC: this is abc"
"DEF: this is def"
"GHA: this is gha"

When importing with @DataSet warnings are issued for all values before the colon, eg:
Could not find script engine by name 'ABC'
Could not find script engine by name 'DEF'
Could not find script engine by name 'GHA'

[2021-07-15 14:59] rmpestano commented on #332
Well, as [mentioned here](https://github.com/database-rider/database-rider/issues/332#issuecomment-880451875) we already do the `close` after the test and seems it is not working for you, can you share the issue when you use cacheConnection=true?

[2021-07-15 16:11] rmpestano commented on #332
Now I see your previous comment:

    private static DataSource getDataSourceFromSpringContext(ExtensionContext extensionContext, String beanName) {
        ApplicationContext context = SpringExtension.getApplicationContext(extensionContext);
        return beanName.isEmpty() ? context.getBean(DataSource.class) : context.getBean(beanName, DataSource.class);
    }

That code is used just to retriev

[2021-07-15 21:31] hheg commented on #332
Hi. The pseudo code for the close method of a proxy jdbc connection is:
[code]
So calling close on that connection will return it to the pool. More info here: https://stackoverflow.com/questions/4938517/closing-jdbc-connections-in-pool

[2021-07-18 05:13] rmpestano opened #336 "JUnit5 - share dbunit config in test context"
Add `DBUnitConfig` to test context instead of reading it on every test callback (beforeAll, beforeEach, etc..)

[2021-07-18 05:15] #336 closed

[2021-07-18 06:17] rmpestano commented on #104
Hey, good catch, now I'm able to reproduce and fix. Thank you!

[2021-07-18 06:18] rmpestano commented on #332
Yea, that's what I noticed when I added debug logs to HikariCP in SpringBoot sample (which now uses `cacheConnection=false`), thanks for the info.

I think I found the leak and did some refactoring on the junit5 extension, can you try with `1.25.1-SNAPSHOT`? You'll have to enable maven central snapshots on your project, [see here](https://github.com/database-rider/database-rider#snapshots).

If it

[2021-07-18 06:30] rmpestano commented on #104
Can you try `1.25.1-SNAPSHOT` @victor-costa-avancee ? `You'll have to enable snapshots repo on your build, [see here](https://github.com/database-rider/database-rider#snapshots).

[2021-07-19 08:54] victor-costa-avancee commented on #104
It seems to be working perfectly @rmpestano, great job, thank you!

[2021-07-19 12:34] phgachoud opened #337 "help: unable to set a working project with existing entities"
Hi, I'm desperatly trying to make it work, dont know where to begin with. The logs tell it seems to work, but no data seems to be inserted into DB from the xml file. How can I debug the insert part from given xml file to method???!!!

Test class
-----

    package com.xpo.ltl.reweigh.agedprocessing.module.dao;

    import com.github.database.rider.core.DBUnitRule;
    import com.github.database.ri

[2021-07-20 04:54] rmpestano commented on #337
Hi, I think you're mixing junit4 (junit rule) and junit5 implementation.

For junit rule to work you need to use junit4 `@Test` annotation but you're using junit5 test.

If you want to keep using junit5 you have to use junit5 runner and dbrider extension (and provide the jdbc connection without junit rule), [see docs here](https://github.com/database-rider/database-rider#junit-5) and [example test

[2021-07-20 05:21] rmpestano commented on #335
Hi @trks1970, that warning is relatos to [scriptable datasets](https://github.com/database-rider/database-rider#311-scriptable-datasets), the colon is used to identify the script engine.

[2021-07-20 05:24] rmpestano commented on #335
I think we should have a list of well known script engines instead trying to guess the engine whenever we find a colon in the dataset

[2021-07-20 06:56] rmpestano commented on #335
Can you try with `1.25.1-SNAPSHOT`?  The warn should be gone. To enable snapshot you have to config snapshots repo on your build:

[code]

[2021-07-20 14:58] phgachoud commented on #337
@rmpestano  Thank you very much, afford make it run with junit5 with nativeQuery, but not its not working from criteriaQry, any idea why?

[2021-07-20 15:20] phgachoud commented on #337
Found out, if you dont mix native query and criteriaQry into the same test method it works, found how but not why

[2021-07-20 15:20] #337 closed

[2021-07-21 12:44] rmpestano commented on #328
Hi again @ferdi-github, can you try with `1.25.1-SNAPSHOT`? You'll have to enable snapshots on your build, [see here](https://github.com/database-rider/database-rider#snapshots)

[2021-07-22 07:08] rmpestano commented on #328
Thank you for your feedback, v`1.26.0` was just released containing this fix.

[2021-07-22 07:08] #328 closed

[2021-07-22 07:09] rmpestano commented on #104
Thank you! This fix is available in the just released v`1.26.0`.

[2021-07-22 07:09] #104 closed

[2021-07-22 07:10] rmpestano commented on #335
This fix is available in v`1.26.0`

[2021-07-22 07:10] #335 closed

[2021-07-22 07:10] rmpestano commented on #332
This fix is available in v`1.26.0`, if you find any issue related, please reopen this issue.

[2021-07-22 07:10] #332 closed

[2021-07-22 09:22] rmpestano commented on #50
Hi again @ahrytsiuk, I completely forgot about this issue, can you create a new one and add some context/sample reproducer?

[2021-07-22 09:22] #50 closed

[2021-07-27 10:31] JapuDCret opened #344 "Could not find script engine by name 'urn'"
In our tests we see multiple outputs like
[code]
The tests do however still work as expected tho.

Our tests persist data with column values like `urn:my-service:aggregate:14c2ad6a-8fde-4728-875a-c119e3437541` based on the [URN convention](https://en.wikipedia.org/wiki/Uniform_Resource_Name).

We are currently using
[code]

The issue might be related to Issue #58. However, we are using version `1.

[2021-07-27 10:54] rmpestano commented on #344
Hi @JapuDCret, if you update to `1.26.0` you should not see the warn anymore, please let me know.

[2021-07-27 13:25] JapuDCret commented on #344
Thank you, this did indeed fix it!

[2021-07-27 13:25] #344 closed

[2021-07-29 02:26] rmpestano opened #345 "Rider JUnit5 - cannot seed database in junit callback and cache connection is false"
When `cacheConnection=false` we close the connection after test execution but before `AfterEach` and `AfterAll` callbacks are executed, resulting in a closed connection error while seeding or comparing DB in `after` callbacks.

[2021-07-29 02:27] #345 closed

[2021-07-29 02:52] rmpestano commented on #262
Hi @mbunzel,

Sorry for the late reply and thank you for the reproducer!

Can you try with v`1.26.1-SNAPSHOT` ([check here](https://github.com/database-rider/database-rider#snapshots) how to enable rider snapshots)?

[2021-07-29 02:53] rmpestano commented on #331
Hi again @hheg,

Can you try again with v`1.26.1-SNAPSHOT` ([check here ](https://github.com/database-rider/database-rider#snapshots) how to enable rider snapshots)?  We did some changes in #262  related to autoCommit which might fix your issue. If not, can you provide a reproducer (like the one in issue #262)?

Thank you

[2021-07-29 23:10] hheg commented on #331
Hi @rmpestano.
I tried the version out and it didn't solve my problem. I've been writing a test for this which can be found  [here](https://github.com/hheg/database-rider-problems). I also found that setting up `@DbUnit` annotations for `@BeforeXXX` and `@AfterXXX` don't work due to another bug when I tried to setup tests for showing that connections are leaking. This is also shown in the showcase

[2021-07-30 19:33] rmpestano commented on #331
Hi @hheg, thank you for the sample!

The first problem should be fixed now but I couldn't understand the second one (`NotFindingMethodsTest`). Maybe you can create another issue for it?

Don't forget to use `U` flag to update the rider snapshot on your build.

Thank you again!

[2021-07-30 20:47] rmpestano commented on #331
Alright, I think I got the second issue and using `getDeclaredMethods()` solves it, can you test it as well?

[2021-07-30 22:09] hheg commented on #331
I think it should follow JUnit5 rules here, and it allows all modifiers but private, and I believe that `getDeclaredMethods` also pickup methods with private modifier so I think it needs additional filtering here.

Even fixing that, the `LeakingConnectionsTest` crashes with a:
[code]

[2021-07-31 07:50] rmpestano commented on #331
If you can declare junit5 hooks in non-public methods (as in your example `NotFindingMethodsTest`) then we need to use `getDeclaredMethods`.

I'll have a look at the leak hunter issue

[2021-07-31 09:40] rmpestano commented on #331
Hi again, it should be fixed now unfortunately the rider snapshot could not be deployed on maven central (I'm checking with them) so to test it you'll have to checkout rider locally and run `mvn install -DskipTests`

[2021-07-31 18:07] rmpestano commented on #331
Now 1.26.1-SNAPSHOT is deployed on maven central, let me know if this issue is fixed.

Thanks

[2021-08-01 08:43] hheg commented on #331
Hi,
Hmm... The test still fails. The `@BeforeEach`  is annotated with a start.yml which should insert a row with id=1 into the db. The actual test will then run inserting a value. The `@AfterEach`  should then validate that there's two elements in the db, `1` and `2`. The `test1` method should be failing since after it has been run there should be `1` and `3` in the db which the assertion on `@Aft

[2021-08-01 10:04] rmpestano commented on #331
That's what I get when I comment out the `assertEquals(1, wrappingDataSource.liveConnections.get());`, which's not related to dbrider

<img width="1080" alt="Screenshot 2021-08-01 at 12 01 11" src="https://user-images.githubusercontent.com/1592273/127766987-0f51e5bc-e7e8-431f-ad3a-3fab6d3074ca.png">

I also enable dbrider leak under (`@DBUnit(caseInsensitiveStrategy = Orthography.LOWERCASE, cacheC

[2021-08-01 10:44] hheg commented on #331
You were right about the tests, I was looking at the wrong assertion.

I've pushed a new test that verifies that dbrider is leaking connections. The test should run as declared but fails since the connections are not properly closed. I've added stacktraces which should show where the connections are checked out but a close is never called on them. Each stack with getConnection should have a corres

[2021-08-01 12:13] rmpestano commented on #331
Can you please open a new issue so we can diacuss that? Thank you!

[2021-08-01 13:02] rmpestano commented on #331
By the way, just checked your latest commit and again, removing your assertion makes it pass:

[code]

looks like `wrappingDataSource.liveConnections.get()` is leaving connections opened

[2021-08-01 13:21] rmpestano opened #346 "JUnit5 - AfterEach callback is leaking connection"
While fixing #331  we found a leaking connection issue and it turns out that when using `cacheConnection=false` and having a rider annotation in after each (`@DataSet` or `@ExpectedDataSet`) will make a connection to be left open:

[code]

[2021-08-01 15:10] hheg commented on #346
If there's no cached connection there shouldn't be any open connections at this stage, since assume that you have an `@AfterEach` declared method there's no guarantee that there's a `@AfterAll` method to close, so each method that opens a non cached connection must be responsible for closing it otherwise it will leak.

[2021-08-01 15:47] rmpestano commented on #346
That's really not efficient, what we do instead is get a connection in the test (or in a before callback) and reuse it for seeding (`@DataSet`), cleaning (`cleanBefore/CleanAfter`), disablingContraints and for comparing the DB after the test (`@ExpectedDataSet`) and then after test execution we close it. I'm considering closing it in the after callback but needs some refactoring

[2021-08-01 16:11] hheg commented on #346
But the problem is that you don't know if there will be a `@AfterEach/All` method declared in the test. Also if you cache/store these connections that wouldn't that mean that the cacheConnection=false flag will be useless? Like if I use Hikari's own connection leak detection mechanics, that connection will start showing up as a leaking connection in each test and pollute our hunt for actual leakin

[2021-08-01 16:49] rmpestano commented on #346
JUnit5 engine will always run the [extension after each/all callbacks](https://github.com/database-rider/database-rider/blob/da32cce800c1a8b03ebccdc861d5bc843367152b/rider-junit5/src/main/java/com/github/database/rider/junit5/DBUnitExtension.java#L155)

There will be a connection per test method while `cacheConnection=true` the same connection is used per test class

I did a video a while ago (201

[2021-08-01 17:39] hheg commented on #346
Then it's not that far of using and closing a connection per callback, instead of holding on to it during three?

The cached connection will be considered leaked by Hikari's connection leak detection and show up as a false positive which pollutes actual detection since you always needs to disregard one.

I don't think one can assume that tests are short lived, a test can do a lot of things dependi

[2021-08-01 17:44] rmpestano commented on #346
One could disable that checking on tests but anyway, I'm accepting PRs if you think that can be improved.

Regarding this issue,  can you check it again? the leak should be gone, just make sure to do the assertion after test execution:

[code]

[2021-08-03 12:54] rmpestano commented on #262
The fix was release in v`1.27.0`, if the issue persists please open a new issue with the details, thanks!

[2021-08-03 12:54] #262 closed

[2021-08-03 12:55] rmpestano commented on #331
The fix was release in v`1.27.0`, thank you @hheg for all the input on this issue!

[2021-08-03 12:55] #331 closed

[2021-08-03 12:55] rmpestano commented on #346
The fix was release in v`1.27.0`, if the issue persists please open a new issue with the details, thanks!

[2021-08-03 12:55] #346 closed

[2021-08-03 15:51] muhammadkholidb opened #347 "DBUnit escape pattern on multiple database tests"
I have my tests on multiple databases (H2, PostgreSQL, MariaDB), and I want to use an escape pattern specific to the database test currently running. Here is my test configuration:

[code]

The test classes will extend the abstract class above and be annotated with `@DataSet` for the sample data. On the class above, I use escape pattern `"` which works for H2 and PostgreSQL, while on MariaDB I get

[2021-08-03 17:00] rmpestano commented on #347
Hi, not sure we support this right now but I think if we add support for system properties on the dbunit configuration that would work (assuming once you run your tests they all would run against the same db).

So instead instead of declaring the escape pattern at the test level you would have to pass a system property on each run, ex: `mvn test -D dbunit.escapePattern=\"` (need to check the escap

[2021-08-04 11:54] muhammadkholidb commented on #347
Hi @rmpestano, thanks for the reply. I just know that such an option exists. That's a nice feature of DBRider and can be a solution for my case actually, I  saw the code on `GlobalConfig`.

But I think it is a good idea to have the escape string detected automatically since the `DatabaseMetaData` has an API for that i.e. `getIdentifierQuoteString()`. I saw the code of `DataSetExecutorImpl` (which

[2021-08-05 07:24] rmpestano commented on #347
Hey @muhammadkholidb, thank you for your feedback.

I think there are no concerns regarding `DatabaseMetaData`, it's not being used mainly due to `ignorance` 🙈.

So as I understand we could remove this part: https://github.com/database-rider/database-rider/blob/2c6f6b5510ab15513d59e21282b8661a8b39ca9d/rider-core/src/main/java/com/github/database/rider/core/util/TableNameResolver.java#L39-L41

and

[2021-08-05 11:58] muhammadkholidb commented on #347
Nice, I'll create a PR for that. Thank you

[2021-08-10 06:56] rmpestano commented on #347
The fix for this issue is available on v`1.28.0` which was just released, thank you for the contribution @muhammadkholidb!

[2021-08-10 06:56] #347 closed

[2021-08-19 14:30] #219 closed

[2021-08-24 05:03] rmpestano commented on #124
https://geraldonit.com/2021/08/15/oracle-xe-docker-images/

[2021-08-27 04:36] raphiz opened #354 "Rider-Spring: Roll back inserted data set after every test"
Hi :wave:

I tried to integrate database rider into an existing project. I started to write database rider tests with the same mindset I used to write tests for spring data, where spring rolls back the database after every test. However, this does not apply to data sets inserted by database rider. I would expect the behavior of `@DataSet(cleanAfter = true)` for every test to ensure, that tests do

[2021-08-28 19:17] raphiz commented on #354
@rmpestano thanks for your investigations! The suggested `alwaysCleanAfter` (and `cleanBefore`) seems to be the thing I was looking for. I'll gave it a a try and opened a PR: #355

[2021-08-29 08:00] rmpestano commented on #354
Thank you for the PR @raphiz!

v`1.30.0` should be released today with your contribution.

About my previous comment, the merging works like that so the primitive values are also "merged" when the strategy is `CLASS`, I just added a test for that.

[2021-08-29 08:00] #354 closed

[2021-09-02 05:39] duschata opened #356 "@Dataset transactional: How does it works?"
Hello All, hello Rafael,

please have a look at these lines of code:

https://github.com/duschata/testingIssues/blob/417cb9b9ea2465c2b73ee879b63f18f805ce4c69/src/junit5Test/java/riderIssue/BRiderJunit5InANutshellTest.java#L41-L61

The behavior is not what I expect. With the attribute transactional=true, I expect, that a transaction is open within the testfunction.

Kind regards,
Tom

[2021-09-02 07:35] rmpestano commented on #356
Hi, the commit is done after the test, check docs here: https://github.com/database-rider/database-rider#315-transactional-tests

[2021-09-02 11:37] duschata commented on #356
Sorry, but Idon't understand your answer.  There is no active transaction passing the testfunction. A commit after the test would fail. The @Test is JUnit5 maybe this works only with junit4.

[2021-09-03 04:16] duschata commented on #356
no doubt about it. It works in this test. There is the deprecated hibernate-entitymanager  used. We are using the EM from hibernate-core which is the recommended way. If you delete it from your pom.xml (rider-parent) the test will use the EM from core and will also fail.

[2021-09-03 08:39] rmpestano commented on #356
I'll try to have a look, thanks for the feedback

[2021-09-03 09:03] rmpestano commented on #356
Check my PR on your sample project: https://github.com/duschata/testingIssues/pull/1

I hope it makes more sense

[2021-09-03 09:13] lesterb opened #357 "Add executeQueryBefore to @DataSet"
I want to be able to persist entities in a seeded database using generated id values by sequence. The issue is that when I seed the database, the sequence remains unmodified so the entity manager throws an exception, "The entity already exists in the session".
It would be great if I could do something like

[code]

users.yml:
[code]

and the code:
[code]

[2021-09-03 12:17] duschata commented on #356
Sorry for my confusing code, I made it a little bit clearer now. The essential statement of these lines where: ups, there is no transaction active. It tooks some time until I understand why your fix works. There are two tastings of the EntityManagerProvider. One in the junit5 package and the other in core. I've used the wrong one. And this has realy nothing to do with the deprecated hibernate-enti

[2021-09-03 12:17] #356 closed

[2021-09-03 14:14] #357 closed

[2021-09-03 14:20] coiouhkc opened #358 "Usage of scripting in `@ExpectedDataSet`"
Hi @rmpestano ,
is it possible to use smth like `groovy: $value < 10` in `@ExpectedDataSet` (yml), where `$value` is the real field value?

[2021-09-04 13:47] rmpestano commented on #358
Hi @coiouhkc,  you can use [`regex` in expected dataset](https://github.com/database-rider/database-rider#371-expected-dataset-with-regular-expressions) to match ranges, ex:

[code]

You can also use word boundaries to [limit the range](https://stackoverflow.com/questions/7861689/checking-a-number-range-with-regular-expressions):

[code]

The above regex would match against 0-12, explanation:
[cod

[2021-09-06 09:45] coiouhkc commented on #358
Hi @rmpestano, i'm using regex in the project right now, but i think scripting would be a simpler (and also more maintainable) and more flexible option.
If you agree and if it's possible to add this feature in dbrider directly (as compared to adding it into dbunit), I could work on a PR.

[2021-09-06 10:21] rmpestano commented on #358
Do you have more examples how it would work?

For example, if we use [scriptable datasets](https://github.com/database-rider/database-rider#scriptable-datasets) like in `groovy: $value < 10` what happens is that we evaluate that when we get the table value, see [here](https://github.com/database-rider/database-rider/blob/8b840367c8ddcbb8c7a3d2f5c23dc788192d19f9/rider-core/src/main/java/com/github/

[2021-09-06 13:13] coiouhkc commented on #358
Another example where this functionality could come in handy is where one wants to make assertions for generated values based on certain invariants, e.g.
* dates ($value > now() - 1.days && $value < now() + 1.years -1.days)
* numbers ($value.isEven())
* jsonb ( JSON.equals($value, '{"some":"json", "maybeOrdered": true}'

Regarding code you mentioned - exactly, that's what I was talking about
* che

[2021-09-06 15:19] rmpestano commented on #358
That's interesting and might work! waiting for your PR and let me know if you need any help on that.

Thank you!

[2021-09-13 05:55] rmpestano commented on #358
This feature is available in v`1.31.0`, thank you @coiouhkc!

[2021-09-13 05:55] #358 closed

[2021-09-13 07:25] rmpestano opened #361 "Upgrade to Java 8"

[2021-09-13 17:49] coiouhkc opened #362 "Feature request: entity-based replacers/stereotypes in `yaml`-based datasets"
Scenario: imagine a database where each entity has some mandatory standard additional fields, e.g. `version` for optimistic locking, `changedBy` + `changedAt` for auditing purposes or certain data protection level fields.

It would be nice not have to specify those fields manually in `@DataSet` for each entity, but instead have a possibility to specify a 'replacer' (for lack of the better word and

[2021-09-13 17:54] coiouhkc opened #363 "Feature suggestion: value injection/derivation/substitution in `*.yaml`-based `@ExpectedDataSet`s"
Scenario: testing linked entities in YAML-based `@ExpectedDataSet`
Idea:
[code]
Workaround: right now it could be circumvented by using `orderBy` in `@ExpectedDataSet`, but the foreign key references are not being tested.

[2021-09-13 18:28] rmpestano commented on #362
Hi @coiouhkc,

Do you mean `default values` for specific table columns? we have that for [dataset providers](https://github.com/database-rider/database-rider#312-dataset-providers) but not for file-based ones. That would be interesting but not sure about how to implement.

I think [dataset replacers ](https://github.com/database-rider/database-rider#310-dataset-replacers) won't help because they n

[2021-09-14 13:26] coiouhkc commented on #362
Hi @rmpestano

Right, but my project is under heavy influence of Arquillian-like YAML-based usage, which on the one hand grants a nice test code/test data separation, buton the other hand is less flexible.

as far as I know, that's right and dataset replacers in current implementation only operate on fields and not on rows.

I was hoping for a suggestion from your side ;)

Generally, if you consid

[2021-09-21 07:17] vkrauze opened #365 "Spring @Transactional tests is broken in version 1.27"
We'are using tests annotated with Spring @ Transactional to roll back database-rider data inserts after test:
[code]

With database-rider 1.26 it works fine.

After updating database-rider to 1.27 our tests broke. We have found a cause in database-rider DataSetExecutorImpl source:
[code]

setConnectionAutoCommit(true) here breaks transactional behaviour of our tests.

Maybe this setConnectionAutoC

[2021-10-26 15:10] olegbarmin opened #368 "`AmbiguousTableNameException` when `qualifiedTableNames` is set to `true`"
Hello everyone!

In my database there are two schemas, each of them has one table, both tables have the same name.
When I am trying to create a `@DataSet` from yaml file for any of the tables, I am getting `AmbiguousTableNameException`.

I found that there was a similar issue #205. In that case, the issue was resolved by the usage of `@DBUnit(schema = "mySchema"))`. `@DBUnit(qualifiedTableNames =

[2021-11-10 13:09] alxxyz opened #369 "Add support for MongoDB"
We are now migrating a lot of our microservices from PostgreSQL to MongoDB and will be really great to have support also for this database.

[2021-11-23 09:11] #290 closed

[2021-11-25 12:54] Matrino opened #371 "DbUnitExtension always tries to execute @DataSet and @ExpectedDataSet in callbacks"
Hi.
It is not a big deal really, but I wanted to know if this is intentional or a bug, because I do not see always an use case behind it.

When I define a call back in a JUnit5 test (e.g. BeforeEach), DbUnitExtension always tries to look for and execute both the DataSet and ExpectedDataSet annotations. When not defined, a warning is logged. I would expect that one must not always define these Anno

[2021-12-01 11:14] coiouhkc opened #373 "Support for partitioned tables"
Hi @rmpestano
to feed data into a partitioned table (eg. `@DataSet`) one currently has to use the partition name instead of table name, same applies for `@ExpectedDataSet`.
Yet (at least using SQL) it is still possible to query the whole partitioned table.
Would it be possible to add support for partitioned tables (at least for DBs allowing it) to insert data into partitioned table referencing its

[2021-12-03 13:35] rmpestano commented on #369
Hi @alxxyz, unfortunately that's not possible because we use dbunit and jdbc under the hoods which are not compatible with Mongo.

There's a tool which is quite similar to dbrider for nosql databases called `NoSQLUnit`, have you checked that?  https://github.com/lordofthejars/nosql-unit

[2021-12-09 16:19] jpbassinello commented on #365
I am having the same issue

[2021-12-16 09:54] bergerst opened #375 "disableConstraints=true for H2 executes non-H2 SQL Statement"
I am using h2 version 2.0.202 and DBRider 1.32.0.

When I use `@DataSet(value = "datasets/mydataset.yml", disableConstraints = true)`, this line will run a `SET foreign_key_checks=0` statement, which is not supported by H2.

Instead, the command should be `SET REFERENTIAL_INTEGRITY FALSE` per documentation: https://www.h2database.com/html/commands.html#set_referential_integrity

So currently, I ca

[2021-12-27 17:55] nicolasduminil opened #378 "org.dbunit.database.DatabaseDataSet - Table ... not found in tableMap"
Hello,
I'm trying to perform DBUnit tests against an Oracle database. The following log messages are displayed:

    2482 [main] WARN  org.hibernate.orm.connections.pooling  - HHH10001002: Using Hibernate built-in connection pool (not for production use!)
    2482 [main] INFO  org.hibernate.orm.connections.pooling  - HHH10001005: using driver [oracle.jdbc.OracleDriver] at URL [jdbc:oracle:thin:@lo

[2022-01-05 17:05] entireboy opened #379 "Cannot read `columnSensing` config from dbunit.yml"
Hi.
When I add `columnSensing` DBUnit config to *dbunit.yml* file, I can meet an error message like this:

[code]

Scenario:
1. Add `columnSensing` config to [sample-dbunit.yml](https://github.com/database-rider/database-rider/blob/master/rider-core/src/test/resources/config/sample-dbunit.yml)
[code]
2. Run [DBUnitConfigTest.java](https://github.com/database-rider/database-rider/blob/master/rider-

[2022-01-07 08:10] rmpestano commented on #379
Hey @entireboy, thanks for the feedback and PR!

[2022-01-07 12:10] JapuDCret opened #384 "Missing javax.annotation.Priority in DBUnitInterceptorImpl"
We are using DB Rider with Quarkus and everytime we start our service, we get an annoying log message, that can be easily solved:

[code]

Maybe just add `@Priority` in https://github.com/database-rider/database-rider/blob/master/rider-cdi/src/main/java/com/github/database/rider/cdi/DBUnitInterceptorImpl.java#L29-L31

[2022-01-10 10:42] lesterb opened #386 "Add possibility to disable cycles check"
Suppose we have a database
[code]
And we have entities

[code]

Currently this will fail with
`Caused by: org.dbunit.database.CyclicTablesDependencyException: Table: PARENT ([CHILD])
	at com.github.database.rider.core.api.dataset.RiderSequenceFilter$DependencyInfo.checkCycles(RiderSequenceFilter.java:285)
	at com.github.database.rider.core.api.dataset.RiderSequenceFilter.sortTableNames(RiderSequen

[2022-01-10 11:10] #379 closed

[2022-01-10 11:14] rmpestano commented on #365
Hey guys, I'll have a look when time permits

[2022-01-18 22:35] soriajuan commented on #375
@bergerst This error also have a side effect on cleaning tables before tests. It doesn't. At most, log a warning "Could not clean database before test.". Oh... and this is regardless of global or dataset cleanBefore configuration.

[2022-01-19 08:12] rmpestano commented on #375
Hey folks, would you open a PR to incorporate that fix?

Thank you for the feedback!

[2022-01-19 08:12] bergerst commented on #375
@rmpestano See #376

[2022-01-19 08:14] rmpestano commented on #375
Yes, just saw and came back here to comment, not sure how I missed that ;(. I'll try to release the fix today, thank you!

[2022-01-19 08:17] rmpestano commented on #375
@bergerst, do you know if we're going to break users using H2 1.x? I want to make it clear in the release notes as well as increment the minor versions instead the patch

[2022-01-19 08:35] bergerst commented on #375
According to https://web.archive.org/web/20190517154357/https://www.h2database.com/html/commands.html it looks like the command already existed for version 1.4.199.

I think `SET REFERENTIAL_INTEGRITY` exists since the beginning of H2 and `SET foreign_key_checks` was never officially supported. Now the support has been fully dropped.

[2022-01-19 08:39] rmpestano commented on #375
Got it, thank you!

[2022-01-26 08:34] #375 closed

[2022-01-26 08:51] rmpestano commented on #384
Hey @JapuDCret, just added it, thanks for the feedback!

[2022-01-26 08:51] #384 closed

[2022-01-26 09:56] rmpestano commented on #365
Thank you all for the help!

[2022-01-26 09:56] #365 closed

[2022-02-04 10:21] Matrino commented on #375
Hey, after upgrade still not functioning, yet another error comes.

Should we in generall wair for the version, where h2 v.2 is supported or should it already be supported?

Thanks a lot in advance.

`WARN` com.github.database.rider.core.dataset.DataSetExecutorImpl - Could not clean database before test.
java.lang.RuntimeException: Could not execute statements:This feature is not supported: "META"

[2022-02-04 12:48] bergerst commented on #375
In my projects, we haven't encountered any errors after upgrading.

@Matrino It's probably not related to disableConstraints but another DBRider feature. Maybe it's caused by your own project files? I can't find anything with `INDEX_COLUMNS` in this project.

It's probably best if you create a new bug report for your issue since it doesn't match my reported one.

[2022-02-04 13:25] rmpestano commented on #375
Yea, can you create a new issue @Matrino? also it would be nice if we could reproduce in one of the DBRider samples.

Thanks for the feedback!

[2022-02-04 13:26] #369 closed

[2022-02-15 19:25] cselagea commented on #263
Hey @rmpestano I finally got a chance to try this. It's working, but it doesn't seem to conform to the usual execution order for JUnit lifecycle methods, e.g. "`@BeforeAll` methods from superclasses will be executed before `@BeforeAll` methods in subclasses".

I have a test in which the superclass `@BeforeAll` is running after the `@BeforeAll` from the test class.

[2022-02-19 12:40] vladbogun1 opened #416 "dbunit schema from application.properties.yml"
I have a problem with defining which schema to load, so once dbunit try to get list of tables, he gets the first schema in my db and list of tables from it, which is wrong.
for example if i wanna to use such db:

[code]
so if i have in application.properties  `spring.datasource.url` defined as
`jdbc:mariadb://${server-url}/${schema-name}?connectionCollation=utf8mb4_unicode_ci&serverTimezone=UTC`
i

[2022-02-19 12:47] vladbogun1 commented on #416
The problem is caused that i generate schema name in that way in pipline:
![image](https://user-images.githubusercontent.com/34967580/154801439-49886c70-86bd-42cc-beac-8aa6a2f850ff.png)

[2022-02-19 13:05] rmpestano commented on #416
You can specify it in [dbunit.yml](https://github.com/database-rider/database-rider#332-dbunit-configuration), ex: https://github.com/database-rider/database-rider/blob/4669db363825c568a261e50d2057d744868b8934/rider-core/src/test/resources/config/sample-dbunit.yml#L13-L17, have you tried that?

But it won't be dynamic, e.g based on env/system properties.

[2022-02-19 13:16] vladbogun1 commented on #416
right now i am trying to do like this(in that way ill can inject propper value), but still get schema:null in DatabaseDataSet.class
![image](https://user-images.githubusercontent.com/34967580/154802365-b2d8bb69-648c-4179-adfd-19382468452b.png)
![image](https://user-images.githubusercontent.com/34967580/154802380-f5edeb26-2844-484e-87b0-129a5c37a63a.png)

[2022-02-19 13:37] rmpestano commented on #416
Here is where we pass the properties to dbunit, can you check if it's being called? https://github.com/database-rider/database-rider/blob/4669db363825c568a261e50d2057d744868b8934/rider-core/src/main/java/com/github/database/rider/core/connection/RiderDataSource.java#L111-L120

[2022-02-19 17:13] vladbogun1 commented on #416
Okay, found the problem, I forgot to delete @DBRider annotation next to class definition, and that cause that it initialize connection before entering into my method with configuration.
Right now it works:
![image](https://user-images.githubusercontent.com/34967580/154811354-571b1e4e-68ed-4c5f-9df4-18e1f1989c5f.png)

[2022-02-20 19:30] rmpestano commented on #416
Hey @vladbogun1, thank you for the follow up on this issue, maybe we could improve the documentation or even the code to prevent this issue in the future

[2022-02-21 15:33] vincentstradiot opened #417 "DataSetExecutorImpl#clearDatabase does not take table ordering into account"
DataSetExecutorImpl#clearDatabase method does not take table ordering configuration into account as it puts all the delete statements in a HashSet, which is a Set implementation that does not guarantee any ordering.

**Suggestion:** put the delete statements in an ordered Set implementation, or a List.

**Version**: 1.32.2

![image](https://user-images.githubusercontent.com/41947026/154984748-bc98

[2022-02-25 05:53] #417 closed

[2022-04-07 08:45] lesterb commented on #386
Well it appears that such property exists, and is called 'useSequenceFiltering = false'. Who could have guessed?

[2022-04-07 08:45] #386 closed

[2022-04-07 08:45] lesterb commented on #386
Closed as not an issue

[2022-04-07 17:00] phgachoud opened #439 "Question: Warning: Could not find dataset annotation from callback method"
What does this message mean and what should be done to correct that warning?

[2022-04-27 07:18] TakeMeAway404 opened #448 "Multiple Schema.sql only run locally"
If I create multiple Schema.sqls (with different names ofc), which execute before the tests as an annotation of the testclass, it runs locally.
But if running a Maven Build "maven install" it only works with the FIRST initialized/executed schema.sql, all tests depending on the second schema.sql fail due to an "could not create Dataset"-Error.

If I COMBINE both schema.sqls in ONE schema.sql, the m

[2022-05-01 09:30] it235 opened #451 "TableNameResolver does not use the schema in dbunit.yml and clears all data in the database"
Hello, I am a Chinese developer
I have a problem while using

dbunit.yml
cacheTableNames: false
properties:
  batchedStatements: true
  caseSensitiveTableNames: true
  qualifiedTableNames: true
  schema: gradle

but
![image](https://user-images.githubusercontent.com/68153582/166140091-73f39be6-1d15-4755-a109-635dcb5091be.png)
There is only one table in the gradle database, named gradle_order

The

[2022-05-01 09:33] it235 commented on #451
'com.github.database-rider:rider-spring:1.32.3'
'com.github.database-rider:rider-junit5:1.32.3'

[2022-05-07 18:01] niels1voo opened #453 "rider-junit5. AliasFor has no effect when using DataSet meta-annotation"
We use rider-junit5. I defined a meta-annotation for some common use cases, for example prevent flyway_schema_history from being wiped by a cleanAfter/Before. Unfortunately, the aliases are not applied. Interestingly, they are applied in spring-rider. I modified rider-junit5 MetaDataSet and MetaDataSetIt to test the class annotation to prove it does not work.

[code]

[2022-05-16 11:58] rmpestano commented on #451
Hi @it235, can you share a sample project which reproduces the issue so I can have a look?

[2022-05-24 18:13] internetstaff opened #457 "Vulnerable version of jackson-mapper-lgpl ?"
jackson-mapper-lgpl 1.9.13 is quite dated and appears to be vulnerable to CVE-2017-7525. This is probably not a real risk in this use case, but I'm wondering if it's practical to update to a modern version. :)

[2022-06-03 15:03] skylvsme opened #460 "Usage with Spock"
In my application I'm using Spock with Spring Boot (building by Gradle if it's important) and want to introduce Database Sets into my tests. I tried to use Database Rider with runtime H2 in my Spring context, following [this example](https://github.com/rmpestano/spring-events/blob/master/src/test/java/com/sambrannen/spring/events/repository/EventRepositoryTests.java), but it seems not to be workin

[2022-06-07 04:53] rmpestano commented on #460
Hi @skylvsme,

There is no Spock integration as of now, what you could do is to use [RiderDSL](https://github.com/database-rider/database-rider#riderdsl) instead of `@DataSet`, see some [examples here](https://github.com/database-rider/database-rider/blob/master/rider-core/src/test/java/com/github/database/rider/core/dsl/RiderDSLIt.java#L31).

Can you share your project so I can have a look? Maybe

[2022-06-07 05:37] rmpestano commented on #457
Hi @internetstaff, I think it shouldn't be hard, would you like to give it a try and open a PR?

Thanks for the feedback!

[2022-06-09 23:44] skylvsme commented on #460
Hi @rmpestano, thanks for appointment! But how can I inject database connection from Spring to RiderDSL?

[2022-06-14 09:37] trks1970 opened #461 "cleaning DB does not work with H2"
Here is my test configuration:

`@DBRider
@DBUnit(caseSensitiveTableNames = true, escapePattern = "\"?\"", mergeDataSets = true, allowEmptyFields = true)
@DataSet(value = ["datasets/base_api_test.yaml"], cleanBefore = true )`

when I execute the test, I get the error:

`2022-06-14 11:30:26,746 - [Test worker] WARN  c.g.d.r.c.d.DataSetExecutorImpl - Could not clean database before test.
java.lang.R

[2022-06-17 12:47] #460 closed

[2022-06-24 16:25] skylvsme commented on #461
Try to remove caseSensitiveTableNames = true

[2022-06-25 14:05] trks1970 commented on #461
No, that does not help.

[2022-06-26 12:44] rmpestano commented on #461
Hi @trks1970, do you have a sample project to share?
All rider-core tests are [using H2](https://github.com/database-rider/database-rider/blob/3d4ea11a14b41df35c4221ef6e881a6f06a201bc/rider-core/pom.xml#L78) so maybe it's a small thing on your project

[2022-07-12 10:30] JCrAg opened #478 "Dependencies with vulnerabilities"
Hi guys.
I've detected some dependencies you are using which are vulnerable.
One of them is commons-collections (now is recomended to use commons-collections4), which is used by DBUnit 2.7.0 too. If this one would be updated i think DBUnit could be upgraded to its actual latest version 2.7.3.
I would like to know if is in your scope to fix them.

[2022-07-13 07:27] trks1970 commented on #461
I will provide one.

[2022-07-13 08:41] trks1970 commented on #461
So, here is the test project:
https://github.com/trks1970/dbrider-test

When trying to export data, it fails with:
`ERROR c.g.d.r.c.exporter.DataSetExporter Could not export dataset.
org.dbunit.dataset.DataSetException: org.h2.jdbc.JdbcSQLSyntaxErrorException: Table "CONSTANTS" not found; SQL statement:
select "CONSTANT_CATALOG", "CONSTANT_SCHEMA", "CONSTANT_NAME", "VALUE_DEFINITION", "DATA_TYPE",

[2022-07-15 10:56] dtorrensf commented on #478
+1

[2022-07-22 07:10] rmpestano commented on #478
Hi @JCrAg, yes I think we can upgrade them, would you like to provide a PR?

Thanks for the heads up 👍

[2022-07-29 13:56] trks1970 commented on #461
Any progress on this?

[2022-07-30 10:39] rmpestano commented on #461
Hey @trks1970, I didn't have time to try it. Does anyone from @database-rider/rider-community can give it a try?

[2022-07-30 10:43] rmpestano commented on #461
@trks1970 I gave it a quick try and I think you forgot to push the datasets:
[code]

[2022-07-30 14:14] trks1970 commented on #461
Run the class DataGenerator in the test folder.

[2022-07-31 09:18] trks1970 commented on #461
I found a solution for DataGeneratorTest. I had to add schema="PUBLIC" to the DBUnit annotation.

[2022-07-31 09:44] rmpestano commented on #461
Awesome! Can you push the changes to your branch? I'd like to include your project in [rider-examples](https://github.com/database-rider/database-rider/tree/master/rider-examples) (if you allow) as we don't have any kotlin sample.

[2022-07-31 11:02] trks1970 commented on #461
Pushed, Of course, use it as you wish.
Also, I was able to get the "could not clean database" exception go away, but adding

`
SYSTEM_SCHEMAS.put(RiderDataSource.DBType.H2, Collections.singleton("INFORMATION_SCHEMA"));
`
to DBUnitConfig, however I did not test this thoroughly.

[2022-07-31 14:38] rmpestano commented on #478
Hi again @JCrAg, I could only find commons-collections being used in one of the sample projects:
<img width="672" alt="Screen Shot 2022-07-31 at 16 34 44" src="https://user-images.githubusercontent.com/1592273/182031372-eb0a54f8-aef8-4a1b-bdbd-6fccb7fa4a6b.png">

So dbrider is not bringing into to the library. I'm upgrading dbunit to `2.7.3` as pr suggestion, thank you!

[2022-07-31 14:47] rmpestano commented on #478
Alright, now I got it, dbunit itself is bringing it so the upgrade should fix

[2022-07-31 15:01] #457 closed

[2022-07-31 15:01] #478 closed

[2022-07-31 15:13] rmpestano commented on #453
Hi again @niels1voo, I'm not sure how can we support this in junit5 module as `@AliasFor` is meant for spring. I was hoping we had something similar for Junit 5 but I think that's not the case, [see here](https://github.com/junit-team/junit5/issues/1440).

I'll keep this issue opened in case someone finds a way to port the feature into dbrider without having to depend on spring test dependency.

[2022-07-31 20:18] rmpestano commented on #461
The fix is available on rider `1.33.0`, thank you for the help @trks1970!

[2022-07-31 20:18] #461 closed

[2022-08-08 06:53] netmikey commented on #416
I'm struggling with a very similar issue. Having to use programmatic API instead of annotations doesn't seem like a very elegant solution.

In my case, it seems I have to specify a schema because my PostgreSQL connection can see multiple schemas and the table names therein (as is usual with postgres). Therefor I get `org.dbunit.database.AmbiguousTableNameException`s. If I specify the schema explic

[2022-08-11 03:13] junrenge opened #482 "Transaction is not effective"
I use transactional  like this:
@Test
@DataSet(value ="users.yml", strategy = SeedStrategy.REFRESH, transactional = true)
     public void xxxxxx(){

      }
but data is still in database after I run the test.

[2022-08-12 15:10] luisalves00 commented on #236
@rmpestano I'm using:

[code]

with:

[code]

And on the Dataset if I don't provide and ID I get:

Caused by: org.h2.jdbc.JdbcSQLIntegrityConstraintViolationException: NULL not allowed for column "ID"; SQL statement:

So I assume the sequence is not being used. The negative id does the trick, thanks for the hint.

What I would like to understand is if database rider should be using the sequences (

[2022-08-14 07:29] rmpestano commented on #236
Hi @luisalves00, dbrider is not using sequence generators, the issue is that sometimes the pk you use in your datasets conflicts with IDs generated by sequence generators. The solution is to either clean the sequence table and reset the generator or use PKs that don't conflict with the generated IDs.

[2022-08-14 07:36] rmpestano commented on #482
Hi @junrenge, the transaction attribute just ensures a transaction is active so you can insert data in your tests without opening and commit the transaction, `it won't rollback` after the test execution. For example: https://github.com/database-rider/database-rider/blob/8ad04e5f3575fe5424de2bbe4f557128759e9320/rider-core/src/test/java/com/github/database/rider/core/TransactionIt.java#L30-L56

[2022-08-14 07:48] rmpestano opened #483 "Read `DBUnit` configuration from system properties and environment variables"
Enable reading [dbunit config](https://github.com/database-rider/database-rider#332-dbunit-configuration) from system properties and environment variables.

The solution might check if the property value contains an EL in the format of `${system property or env var name}` and read the value before setting the property.

Example:

`@DBUnit(schema = "${spring.datasource.username}")`

or global confi

[2022-08-14 07:51] rmpestano commented on #416
Hi @netmikey,

Yea, that should be possible enven for non spring based tests, I've create #483 for that, thanks for the feedback!

I've added some guidance in the ticket if someone wants to contribute (I'm away from keyboard for the next 10 days).

Cheers!

[2022-08-14 07:51] #416 closed

[2022-08-22 13:02] rmpestano commented on #483
Hi @netmikey, can you try with v`1.33.1-SNAPSHOT`? It should be possible to pass a system property or environment variables to DBUnit configuration, check here for an example: https://github.com/database-rider/database-rider/blob/be436283070f95f3487f9f41e7b773da23222eb4/rider-core/src/test/java/com/github/database/rider/core/configuration/DBUnitConfigTest.java#L175-L225

Let me know if it works fo

[2022-08-25 07:48] rmpestano commented on #483
Also pinging @vladbogun1 as this might help you as well

[2022-08-26 23:27] rmpestano commented on #483
This feature is now available in `v1.34.0`, if you find any issues related to it, please open a new issue.

[2022-08-26 23:27] #483 closed

[2022-08-30 09:20] netmikey opened #490 "Read DBUnit configuration from Spring Boot Properties"
It seems that #483 does not cover the case where DBRider is used on a `@SpringBootTest` and should use the Spring Properties from that test's Spring context for its configuration. I'm not sure but I don't think these Spring Context Properties are made into System Properties (they're not environment properties obviously, since they can be read in a lot of ways by Spring). I think DBRider would have

[2022-08-30 09:22] netmikey commented on #483
Hi @rmpestano ,

I'm sorry for the late reply. I wasn't able to check these changes in the last weeks. I tried v1.34.0 now but found an issue for my use case. I Opened #490 to track it.

[2022-08-30 12:08] rmpestano commented on #490
Hi @netmikey, can you please share a sample project so I can have a look?

Thank you!

[2022-08-30 13:22] netmikey commented on #490
I have created a minimal test project here:

https://github.com/netmikey/dbrider-spring-properties-demo

[2022-08-30 18:48] vladbogun1 commented on #483
wery nice that you ping me, ill check that again)

[2022-08-30 21:55] rmpestano commented on #490
I checked your example and I don't think it is possible to do that with `caseInsensitiveStrategy` as it's an enum so the yaml parser fails while parsing the file because it expects the type `com.github.database.rider.core.api.configuration.Orthography` but gets a spring EL:

[code]

The impl in #483 only takes into account String properties of DBUnitConfig which is mostly general `properties` and

[2022-08-31 13:15] netmikey commented on #490
I used the `caseInsensitiveStrategy` in the example so it can be self-contained and doesn't rely on an external database. It behaves exactly the same when I try using it with the `schema` string property as described above.

In both cases, it does not resolve. In the example project, it doesn't resolve `${my-case-insensitive-strategy}` to `UPPERCASE`. If it did, I'm pretty sure the subsequent conv

[2022-08-31 13:49] netmikey commented on #490
Ok I see our misunderstanding now. Let me try to explain.

Spring can load its configuration properties in a lot of different ways. Them being system properties is only one of **a lot** of options. They can be specified via properties files, yaml files, command-line arguments, configuration servers, custom implementations, etc. etc. In our specific case, we generate test-configuration files that w

[2022-08-31 17:40] rmpestano commented on #490
I see, we could do that in`rider-spring`as we don't want to depend on spring in rider-core. It would be nice to do such integration in rider-junit5 module as we also have some integration there.

[2022-09-09 12:39] TheExkaliburg opened #494 "SQLHelper doesn't recognize 'TIMESTAMP WITH TIME ZONE' from postgres"
The problem i run into is, that it won't recognize the Created_On timestamp with the format TIMESTAMP WITH TIME ZONE.

If i try to set it, it doesn't find the column because it was ignored earlier.
If i don't set the value in the yml file then it can't find a non-null value for my database restriction.

Currently i feel like i have 2 ways, either remove the non-null or change the datatype of that

[2022-09-14 12:13] mkwapisz opened #496 "Support for jakarta persistence"
Is there any version of dbrider for Jakarta standard.
After the migration to Hibernate Jakarta I get the following message:
[code]

The EntityManagerProvider is dependent to javax namespace, not jakarta.

[2022-09-16 08:26] rmpestano commented on #496
Hi @mkwapisz, unfortunately we don't. Does it work if you add  `javax.persistence:persistence-api:1.0.2` dependency to your test classpath?

[2022-09-16 10:27] mkwapisz commented on #496
Thanks for the reply. EntityManagerProvider is a very convenient way to get connection regardless JPA implementation used. I changed ConnectionHolder to
`private ConnectionHolder connectionHolder = () -> ((SessionImpl) em.unwrap(Session.class)).connection();`
which is absolutely Hibernate specific but it seems to work.

[2022-09-29 14:00] niels1voo opened #500 "db-rider cleans flyway_schema_history"
We have a multi-module gradle build with integration tests in each module. We have found that db rider is cleaning the flyway_schema_history table. Our work-around is to configure the gradle build to re-run flywayClean and flywayMigrate gradle tasks (provided by flyway gradle plugin). Is there a way to prevent db rider from cleaning this table?

[2022-09-30 19:29] patkovskyi opened #501 "Double columns are always rounded up to 2 decimal points?"
I'm using `com.github.database-rider:rider-spring:1.32.2`

I have a yml dataset:
[code]

And a test that has the attribute
`@ExpectedDataSet(value = "dbrider/price_offer/price_offer.yml", ignoreCols = {"id"})`

When I run my test I can clearly see that perWordClaritySixHours is 0.179 before priceOffer is stored using CrudRepository:
`priceOfferRepository.save(priceOffer);`
<img width="393" alt="Sc

[2022-10-01 08:47] patkovskyi commented on #501
I figured out that the reason this was happening was not DBRider, but rather Hibernate and the way it autogenerates DB schema.

The field was defined as
`BigDecimal perWordClaritySixHours` without any specification of precision and scale. Apparently, the default for scale is **2**. It did not affect our production because the production DB was not autogenerated by Hibernate, it was created using S

[2022-10-01 08:47] #501 closed

[2022-10-07 11:42] mkwapisz commented on #496
I just copied two files to my project EntityManagerProvider and PropertyResolutionUtil, added prefix Jakarta to their names, replaced javax with jakarta and everything works.

[2022-10-20 08:29] JCrAg commented on #371
Hi,
I have detected the same problem with the BeforeEach having as a result some WARNINGS in the logs.
I can see other people have detected it too (https://github.com/database-rider/database-rider/issues/439), so could be considered to fix it somehow?

[2022-10-25 13:19] coiouhkc opened #505 "[MySQL] Schema resolver always returns null"
See https://github.com/database-rider/database-rider/blob/2e38b6e513521f5956a116bff80feb322045c9a3/rider-core/src/main/java/com/github/database/rider/core/util/TableNameResolver.java#L100

For MySQL apparently the schema name resides in column `TABLE_CAT`.

To test on your local MySQL with multi-schema layout, please use following code:

[code]

Suggested fix: make `TableNameResolver` aware of the

[2022-10-25 16:02] rmpestano commented on #496
Hi @mkwapisz, do you think we can support both Jakarta and javax packages? Otherwise we'll have to distribute 2 binaries of dbrider. Let me know if you have any idea

[2022-10-26 08:08] coiouhkc commented on #505
Apparently JDBC Spec already addresses the issue, see https://docs.oracle.com/javase/6/docs/api/java/sql/DatabaseMetaData.html#getCatalogTerm() and https://docs.oracle.com/javase/6/docs/api/java/sql/DatabaseMetaData.html#getSchemaTerm() (values for MySQL are `database` and ``, respectively).

[2022-10-26 14:14] coiouhkc commented on #451
Duplicate #505 ?

[2022-11-01 12:24] niels1voo opened #512 "SpringBootDBUnitTest fails with @BeforeAll & @DataSet annotated static method"
@rmpestano I didn't see a test in the codebase that tested `@BeforeAll`, so I added a hook to [SpringBootDBUnitTest](https://github.com/niels1voo/database-rider/blob/before-all-test/rider-examples/spring-boot-dbunit-sample/src/test/java/com/github/database/rider/springboot/SpringBootDBUnitTest.java#L28), which causes the following exception.

com.github.database.rider.core.exception.DataBaseSeedin

[2022-11-01 12:26] niels1voo commented on #512
The problem seems to be related to Spring.isEnabled returns false when springStore.get(extensionContext.getTestClass().get()) returns null. In other words, it appears the lifecycle hook is executed before the context is populated.

[2022-11-01 12:34] rmpestano commented on #505
This fix is available in `v1.35.0`. thank you @coiouhkc!

[2022-11-01 12:34] #505 closed

[2022-11-01 12:42] rmpestano commented on #512
Hi @niels1voo, you mean the `@DataSet` is being ignored because of the exception? I assume everything fails

Interesting, let me know if you find any fix and I'll have a look on my side as well. Thanks for the feedback!

[2022-11-01 18:28] niels1voo commented on #512
Yes, it fails right away, before it has a chance to create the dataset.

[2022-11-01 20:22] niels1voo commented on #512
I've attached a few logs.  In passes-spring-is-enabled.log I set a break point at Spring.isEnabled line 24. In passes-complete.log I let it run through to completion. You can see that the spring context is loaded before database rider checks whether spring is enabled.
In fails-with-before-all.log you can see that db rider kicks in before spring context is loaded.

[fails-with-before-all.log](https

[2022-11-02 02:06] niels1voo commented on #512
The problem stems from the order of declaration of the extensions in the test.

https://junit.org/junit5/docs/current/user-guide/#extensions-registration-declarative

I switched the order to place SpringBootTest first, which eliminated the exception and allowed the test to pass.  I think this can be closed, though it would be helpful to add a warning to the documentation.

[2022-11-02 19:20] rmpestano commented on #512
Hey @niels1voo, thank you for digging into this and also for the PR!

[2022-11-02 19:20] #512 closed

[2022-11-04 16:23] fgonzalez-seatcode commented on #482
I'm using Spring TX autorollback provided by `@DataJpaTest` and altough test code is rolledback

`@DataSet(executeScriptsBefore = ["/db/test/scripts/setup.sql"])`

_scriptsBefore_ aren't being rolledback :(

I guess this commit can be interfering

https://github.com/database-rider/database-rider/blob/master/rider-core/src/main/java/com/github/database/rider/core/dataset/DataSetExecutorImpl.java#L4

[2022-11-04 18:11] fgonzalez-seatcode opened #514 "Transaction is forced to commit broken when using @Dataset()"
I'm using in my tests Spring auto _rollback_ feature provided by `@DataJpaTest` and although test code IS being rolledback  correctly after it's executed, setup scripts from my method level annotation `@DataSet(executeScriptsBefore = ["/db/test/scripts/setup.sql"])` are NOT being rolledback 😢

I guess this _commit_ sentence can be interfering:

https://github.com/database-rider/database-rider/blob

[2022-11-05 09:23] rmpestano commented on #482
Hi @fgonzalez-seatcode, that's a feature not a bug 😅. In dbrider/dbunit the aim is to prepare the dabatase **before** each test and to ignore/delete what you have as left over in db from previous tests.  So instead of relying on rollbacks we explicitly declare how we want the db before the tests executes and also how we expect the db after tests execution via `@ExpectedDataset`. I might be wrong b

[2022-11-05 12:05] fgonzalez-seatcode commented on #482
Hi @rmpestano!

Don't take me wrong. I didn't mean neither it's a bug nor it's by design. Actually I don't know it.

However, in order to be compatible with legacy code every test in my codebase relies heavily on particular SQL setup file. So, I need to reuse those SQL files and therefore I can't use YAML format here, in setup data.

So my test look like this:

[code]
Everything is working as expe

[2022-11-05 14:48] rmpestano commented on #482
Got it, however I'm not sure how to fix it without breaking non spring tests, maybe we can check if the connection has autoCommit set to true and then do not try to commit in that. Can you share a sample project which reproduces the issue?

[2022-11-06 18:29] trks1970 opened #515 "Cannot export H2 Dataset"
When using the annotation:

[code]

with H2 (2.1.214) the following exception is thrown:

[code]

[2022-11-06 18:55] fgonzalez-seatcode commented on #482
Sure, just let me some time to code it.

Meanwhile, another experiment:

Using original SQL file with the dataset 🔴 -> TX its NOT completely rolledback
[code]

Converting manually this SQL file to YML 🟢  -> TX it completely rolledback
[code]

[2022-11-07 07:02] fgonzalez-seatcode commented on #482
It seems SQL scripts execution does some TX management that YML datasets don't, probably [here](https://github.com/database-rider/database-rider/blob/master/rider-core/src/main/java/com/github/database/rider/core/dataset/DataSetExecutorImpl.java#L420).

Maybe `@DataSet` annotation can be enhanced with something like this:

`@DataSet(executeScriptsBefore = ["/db/test/scripts/setup.sql"], commitSQLS

[2022-11-08 07:06] rmpestano commented on #482
Yeah @DataSet data is managed by dbunit so definitely that commit is the culprit. I think we can avoid that commit if autoCommit is set to true but I didn't have time to try that.

[2022-11-09 19:43] rmpestano commented on #515
Hi @trks1970, does it work with version 1.x of H2? In rider-core we use [v2.x of H2](https://github.com/database-rider/database-rider/blob/ba42acaf2a231c5000cf968eb584b4bcc859676d/rider-core/pom.xml#L92)
 for the automated tests so I'd expect the [export dataset tests](https://github.com/database-rider/database-rider/tree/master/rider-core/src/test/java/com/github/database/rider/core/exporter) to

[2022-11-14 16:43] Antilamer1709 opened #516 "Rows are not inserted when using several datasets and remove data in one of them"
Hello! I have a problem with my datasets. I have two tables: product and product_order. In my tests, I always want to have a clean DB. So I add **<product_order/>** to the dataset. As I see it, it has to remove all orders before adding products.

[code]

The problem is when I want to combine two datasets it deletes all orders as I expect, but **it doesn't insert new ones from orders.xml**. So when

[2022-11-14 21:50] coiouhkc commented on #363
Idea: use SAT-solver/ Prolog-like approach:
- transform actual data set into facts
- expand `@ExpectedDataSet` with variables to represent full relation, leave user-defined variables like `$$x$$` intact
- check whether user-defined and expanded variables can be induced (is there 0, 1 or many solutions to the problem)
Either keep the YAML syntax, or introduce new file extension (`*.sat` or `*.prolo

[2022-11-15 15:34] rmpestano commented on #516
Hi @Antilamer1709, so what DBUnit does, considering the de default seeding strategy CLEAN_INSERT, it will clean all tables present in a dataset and then insert the data. What I think is happening in your case is that `orders` dataset is being cleaned_inserted first and then product_order table gets cleaned again in `products.xml` dataset because you've declared product_order table again.

If you w

[2022-11-15 16:36] Antilamer1709 commented on #516
@rmpestano  thank you for your reply! You are right about the cause, changing the order of files "fixed" the problem. But I will go with the solution as you suggested. `cleanBefore = true` has to fix it. I didn't want to use it initially, I will have to exclude liquibase tables in every test and that's why I tried to have cleaning the dependent tables in datasets. It seems that this is the only wa

[2022-11-25 15:26] uk-taniyama opened #518 "Can I control which tables are targeted?"
In a particular class we are trying to group together the tables to be targeted.
Is it possible to specify this somewhere?

[2022-11-30 11:43] jowko opened #519 "Inconsistent logging across framework"
Some classes in this framework use `java.util.logging.Logger` for logger creation and others use `org.slf4j.LoggerFactory`.
We configured log4j2 with slf4j in our tests for logging and we see that some logs are ignoring our log4j settings and log in their own format. Examples: https://github.com/database-rider/database-rider/search?q=java.util.logging.Logger

I think that logging should be unified